In [63]:
import QUANTAXIS as QA

In [65]:
import sys

if QA.__version__=='1.2.0.dev3':
    pass
else:
    print('升级QA pip install QUANTAXIS==1.2.0.dev3')

False

In [ ]:
"""
在这个示例中:

1. 测试了简单的开仓平仓
2. 测试了连续方向开仓
3. 测试的多空同时开仓, 以及合并平仓等行为

"""

In [2]:
Account=QA.QA_Account(init_cash=10000,allow_sellopen=True,allow_t0=True,account_cookie='future_test',market_type=QA.MARKET_TYPE.FUTURE_CN,frequence=QA.FREQUENCE.FIVE_MIN)

In [3]:
Broker=QA.QA_BacktestBroker()

In [4]:
Account.receive_simpledeal?

In [5]:
"""
简易测试
"""

'\n简易测试\n'

In [6]:
Account.receive_simpledeal('RBL8',3800,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 9:25:00','多开')

In [7]:
#冻结的保证金 : 3800+ 手续费
Account.frozen

{'RBL8': {2: {'money': 3800.95, 'amount': 1}, -2: {'money': 0, 'amount': 0}}}

In [8]:
# 实际现金
Account.cash_available

6199.05

In [9]:
# 持仓 (1手多单)
Account.sell_available

code
RBL8    1
Name: amount, dtype: int64

In [10]:
# 平仓

In [11]:
Account.receive_simpledeal('RBL8',3820,1, QA.ORDER_DIRECTION.SELL_CLOSE,'2018-11-09 9:30:00','多平')

In [12]:
#冻结的保证金 : 0  释放
Account.frozen

{'RBL8': {2: {'money': 0, 'amount': 0}, -2: {'money': 0, 'amount': 0}}}

In [13]:
# 实际现金
Account.cash_available

10018.095000000001

In [14]:
# 持仓 (1手多单)
Account.sell_available

code
RBL8    0
Name: amount, dtype: int64

In [15]:
Account.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,6199.050,None,None,None,future_test,0.950,0,多开
1,2018-11-09 9:30:00,RBL8,3820,-1,10018.095,None,None,None,future_test,0.955,0,多平

In [16]:
"""
连续开平仓
"""

'\n连续开平仓\n'

In [19]:
Account1=QA.QA_Account(init_cash=100000,allow_sellopen=True,allow_t0=True,account_cookie='future_test',market_type=QA.MARKET_TYPE.FUTURE_CN,frequence=QA.FREQUENCE.FIVE_MIN)

In [20]:
Account1.receive_simpledeal('RBL8',3800,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 9:25:00','多开')

In [21]:
Account1.receive_simpledeal('RBL8',3750,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 9:30:00','多开')

In [22]:
Account1.receive_simpledeal('RBL8',3720,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 9:35:00','多开')

In [26]:
Account1.frozen

{'RBL8': {2: {'money': 3757.605833333333, 'amount': 3},
  -2: {'money': 0, 'amount': 0}}}

In [27]:
Account1.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3750,1,92448.1125,None,None,None,future_test,0.9375,0,多开
2,2018-11-09 9:35:00,RBL8,3720,1,88727.1825,None,None,None,future_test,0.9300,0,多开

In [28]:
Account1.receive_simpledeal('RBL8',3780,1, QA.ORDER_DIRECTION.SELL_CLOSE,'2018-11-09 13:30:00','多平')

In [31]:
Account1.frozen

{'RBL8': {2: {'money': 3757.605833333333, 'amount': 2},
  -2: {'money': 0, 'amount': 0}}}

In [33]:
Account1.cash_available

92506.2375

In [34]:
Account1.receive_simpledeal('RBL8',3738,1, QA.ORDER_DIRECTION.SELL_CLOSE,'2018-11-09 13:35:00','多平')

In [35]:
Account1.frozen

{'RBL8': {2: {'money': 3757.605833333333, 'amount': 1},
  -2: {'money': 0, 'amount': 0}}}

In [36]:
Account1.cash_available

96243.303

In [37]:
Account1.receive_simpledeal('RBL8',3820,1, QA.ORDER_DIRECTION.SELL_CLOSE,'2018-11-09 14:35:00','多平')

In [38]:
Account1.cash_available

100062.348

In [40]:
Account1.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3750,1,92448.1125,None,None,None,future_test,0.9375,0,多开
2,2018-11-09 9:35:00,RBL8,3720,1,88727.1825,None,None,None,future_test,0.9300,0,多开
3,2018-11-09 13:30:00,RBL8,3780,-1,92506.2375,None,None,None,future_test,0.9450,0,多平
4,2018-11-09 13:35:00,RBL8,3738,-1,96243.3030,None,None,None,future_test,0.9345,0,多平
5,2018-11-09 14:35:00,RBL8,3820,-1,100062.3480,None,None,None,future_test,0.9550,0,多平

In [41]:
"""
双开测试 

"""

'\n双开测试 \n\n'

In [42]:
Account2=QA.QA_Account(init_cash=100000,allow_sellopen=True,allow_t0=True,account_cookie='future_test',market_type=QA.MARKET_TYPE.FUTURE_CN,frequence=QA.FREQUENCE.FIVE_MIN)

In [43]:
Account2.receive_simpledeal('RBL8',3800,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 9:25:00','多开')

In [44]:
Account2.receive_simpledeal('RBL8',3810,1, QA.ORDER_DIRECTION.SELL_OPEN,'2018-11-09 9:30:00','空开')

In [46]:
Account2.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3810,-1,92390.0025,None,None,None,future_test,0.9525,0,空开

In [48]:
Account2.frozen

{'RBL8': {2: {'money': 3800.95, 'amount': 1},
  -2: {'money': 3809.0475, 'amount': 1}}}

In [49]:
Account2.cash_available

92390.0025

In [50]:
Account2.receive_simpledeal('RBL8',3750,1, QA.ORDER_DIRECTION.BUY_OPEN,'2018-11-09 11:25:00','多开')

In [51]:
Account2.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3810,-1,92390.0025,None,None,None,future_test,0.9525,0,空开
2,2018-11-09 11:25:00,RBL8,3750,1,88639.0650,None,None,None,future_test,0.9375,0,多开

In [52]:
Account2.frozen

{'RBL8': {2: {'money': 3775.94375, 'amount': 2},
  -2: {'money': 3809.0475, 'amount': 1}}}

In [53]:
Account2.cash_available

88639.065

In [54]:
Account2.receive_simpledeal('RBL8',3800,2, QA.ORDER_DIRECTION.SELL_CLOSE,'2018-11-09 14:35:00','多平')

In [55]:
Account2.frozen

{'RBL8': {2: {'money': 0, 'amount': 0}, -2: {'money': 3809.0475, 'amount': 1}}}

In [56]:
Account2.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3810,-1,92390.0025,None,None,None,future_test,0.9525,0,空开
2,2018-11-09 11:25:00,RBL8,3750,1,88639.0650,None,None,None,future_test,0.9375,0,多开
3,2018-11-09 14:35:00,RBL8,3800,-2,96237.1650,None,None,None,future_test,1.9000,0,多平

In [57]:
Account2.cash_available

96237.16500000001

In [58]:
Account2.receive_simpledeal('RBL8',3750,1, QA.ORDER_DIRECTION.BUY_CLOSE,'2018-11-09 14:50:00','空平')

In [59]:
Account2.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message
0,2018-11-09 9:25:00,RBL8,3800,1,96199.0500,None,None,None,future_test,0.9500,0,多开
1,2018-11-09 9:30:00,RBL8,3810,-1,92390.0025,None,None,None,future_test,0.9525,0,空开
2,2018-11-09 11:25:00,RBL8,3750,1,88639.0650,None,None,None,future_test,0.9375,0,多开
3,2018-11-09 14:35:00,RBL8,3800,-2,96237.1650,None,None,None,future_test,1.9000,0,多平
4,2018-11-09 14:50:00,RBL8,3750,1,100104.3225,None,None,None,future_test,0.9375,0,空平

In [60]:
Account2.frozen

{'RBL8': {2: {'money': 0, 'amount': 0}, -2: {'money': 0, 'amount': 0}}}

In [61]:
Account2.cash_available

100104.32250000001