In [1]:
# 首先引入QUANTAXIS

import QUANTAXIS as QA

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.0.56
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````###``###
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````##``
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2018``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````


QAFetch 是对于数据获取的封装

QAFetch有两个主要的函数类别:

QA_fetch_ 类函数  此类函数是从数据获取数据

QA_fetch_get 类函数 此类函数是从网络上获取数据

In [3]:
# QAFetch

# 获取股票日线:
QA.QA_fetch_get_stock_day('tdx','000001','2017-01-01','2017-11-01')
QA.QA_fetch_get_stock_day('tdx','000001','2017-01-01','2017-01-31',level='w')# 周线数据

QUANTAXIS>> Selecting the Best Server IP of TDX

BAD RESPONSE 218.108.98.244
BAD RESPONSE 60.28.29.69
BAD RESPONSE 180.153.18.17
BAD RESPONSE 59.173.18.69
BAD RESPONSE 61.153.144.179
BAD RESPONSE 121.14.104.70
BAD RESPONSE 121.14.104.72
BAD RESPONSE 114.80.149.84

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 60.191.117.167 future_ip 218.80.248.229

,open,close,high,low,vol,amount,date,code,date_stamp,preclose,adj
date,,,,,,,,,,,
2017-01-06,8.977947,8.997657,9.046932,8.958237,1611695.0,1.475045e+09,2017-01-06,000001,1.483632e+09,8.968092,0.985505
2017-01-13,8.997657,9.027222,9.056787,8.977947,1767871.0,1.617594e+09,2017-01-13,000001,1.484237e+09,8.997657,0.985505
2017-01-20,9.017367,9.086352,9.106062,8.938527,2634027.0,2.411943e+09,2017-01-20,000001,1.484842e+09,9.027222,0.985505
2017-01-26,9.086352,9.194758,9.204613,9.066642,1615657.0,1.496627e+09,2017-01-26,000001,1.485360e+09,9.086352,0.985505

In [4]:
# 获取股票分钟线 
# 参数:
# 引擎:tdx
# 股票代码:000001
# 开始日期
# 结束日期
# 类别: 1min,5min,15min,30min,60min
QA.QA_fetch_get_stock_min('tdx','000001','2017-11-01','2017-12-01',level='1min')

Empty DataFrame
Columns: [open, close, high, low, vol, amount, datetime, code, date, date_stamp, time_stamp, type]
Index: []

In [5]:
# 获取股票实时上下五档报价
# 这里的第二个参数  可以是一个股票  也可以是一个股票list

QA.QA_fetch_get_stock_realtime('tdx','000001')
QA.QA_fetch_get_stock_realtime('tdx',['000001','000002'])

,datetime,active1,active2,last_close,code,open,high,low,price,cur_vol,...,bid3,bid_vol3,ask4,ask_vol4,bid4,bid_vol4,ask5,ask_vol5,bid5,bid_vol5
code,,,,,,,,,,,,,,,,,,,,,
000001,2018-06-21 10:56:07.824462,1573,1573,9.91,000001,9.93,10.02,9.88,10.01,40,...,9.98,2165,10.04,3581,9.97,2199,10.05,11678,9.96,2234
000002,2018-06-21 10:56:07.824462,1714,1714,26.96,000002,26.97,28.20,26.82,28.18,520,...,28.16,8,28.23,177,28.15,156,28.24,86,28.14,1824

In [6]:
# 获取股票的列表
QA.QA_fetch_get_stock_list('tdx')

              code  volunit  decimal_point  name    pre_close sse       sec
code   sse
000001 sz   000001      100              2  平安银行   488.035000  sz  stock_cn
000002 sz   000002      100              2  万 科Ａ    26.959999  sz  stock_cn
000004 sz   000004      100              2  国农科技    19.150000  sz  stock_cn
000005 sz   000005      100              2  世纪星源  3650.009375  sz  stock_cn
000006 sz   000006      100              2  深振业Ａ     6.190000  sz  stock_cn
000007 sz   000007      100              2   全新好  1448.035000  sz  stock_cn
000008 sz   000008      100              2  神州高铁     4.960000  sz  stock_cn
000009 sz   000009      100              2  中国宝安     4.850000  sz  stock_cn
000010 sz   000010      100              2  美丽生态  8194.020000  sz  stock_cn
000011 sz   000011      100              2  深物业A  1048.027500  sz  stock_cn
000012 sz   000012      100              2  南 玻Ａ     5.680000  sz  stock_cn
000014 sz   000014      100              2  沙河股份  1656.042500  sz  stock_cn
000016 sz   000016      100              2  深康佳Ａ     4.370000  sz  stock_cn
000017 sz   000017      100              2  深中华A     4.640000  sz  stock_cn
000018 sz   000018      100              2  神州长城     4.910000  sz  stock_cn
000019 sz   000019      100              2  深深宝Ａ   744.055000  sz  stock_cn
000020 sz   000020      100              2  深华发Ａ  1416.000000  sz  stock_cn
000021 sz   000021      100              2   深科技     6.820000  sz  stock_cn
000022 sz   000022      100              2  深赤湾Ａ    22.820000  sz  stock_cn
000023 sz   000023      100              2  深天地Ａ  1384.055000  sz  stock_cn
000025 sz   000025      100              2  特 力Ａ    32.180000  sz  stock_cn
000026 sz   000026      100              2  飞亚达Ａ   280.017500  sz  stock_cn
000027 sz   000027      100              2  深圳能源     4.950000  sz  stock_cn
000028 sz   000028      100              2  国药一致   292.130001  sz  stock_cn
000029 sz   000029      100              2  深深房Ａ   808.045000  sz  stock_cn
000030 sz   000030      100              2  富奥股份     7.170000  sz  stock_cn
000031 sz   000031      100              2  中粮地产     6.220000  sz  stock_cn
000032 sz   000032      100              2  深桑达Ａ     7.750000  sz  stock_cn
000034 sz   000034      100              2  神州数码  1832.025000  sz  stock_cn
000035 sz   000035      100              2  中国天楹     6.720000  sz  stock_cn
...            ...      ...            ...   ...          ...  ..       ...
603936 sh   603936      100              2  博敏电子    20.440001  sh  stock_cn
603937 sh   603937      100              2  丽岛新材    18.730000  sh  stock_cn
603938 sh   603938      100              2  三孚股份    23.719999  sh  stock_cn
603939 sh   603939      100              2  益丰药房   472.220001  sh  stock_cn
603955 sh   603955      100              2  大千生态    20.139999  sh  stock_cn
603958 sh   603958      100              2  哈森股份   424.035000  sh  stock_cn
603959 sh   603959      100              2  百利科技    27.030001  sh  stock_cn
603960 sh   603960      100              2  克来机电    27.340000  sh  stock_cn
603963 sh   603963      100              2  大理药业    25.920000  sh  stock_cn
603966 sh   603966      100              2  法兰泰克  1160.010000  sh  stock_cn
603968 sh   603968      100              2  醋化股份    17.940001  sh  stock_cn
603969 sh   603969      100              2  银龙股份     6.160000  sh  stock_cn
603970 sh   603970      100              2  中农立华    19.209999  sh  stock_cn
603976 sh   603976      100              2  正川股份  1992.040000  sh  stock_cn
603977 sh   603977      100              2  国泰集团     7.930000  sh  stock_cn
603978 sh   603978      100              2  深圳新星    36.119999  sh  stock_cn
603979 sh   603979      100              2   金诚信   200.010000  sh  stock_cn
603980 sh   603980      100              2  吉华集团  1960.035000  sh  stock_cn
603985 sh   603985      100              2  恒润股份    19.469999  sh  stock_cn
603986 sh   603986      100              2  兆易创新   100.260002  sh  stock_cn
603987 sh   603987      100              2   康德莱   568.022500  sh  stock_cn
603988 sh   603988      100              2  中电电机  1064.005000  sh  stock_cn
603989 sh   603989      100              2  艾华集团    30.450001  sh  stock_cn
603990 sh   603990      100              2  麦迪科技    56.160000  sh  stock_cn
603991 sh   603991      100              2  至正股份    22.940001  sh  stock_cn
603993 sh   603993      100              2  洛阳钼业     6.240000  sh  stock_cn
603996 sh   603996      100              2  中新科技  1288.040000  sh  stock_cn
603997 sh   603997      100              2  继峰股份   728.057500  sh  stock_cn
603998 sh   603998      100              2  方盛制药   152.017500  sh  stock_cn
603999 sh   603999      100              2  读者传媒     6.060000  sh  stock_cn

[3533 rows x 7 columns]

In [7]:
# 获取股票当日分时成交tick
QA.QA_fetch_get_stock_transaction_realtime('tdx','000001')

d:\sys_file\quantaxis\QUANTAXIS\QAFetch\QATdx.py:757: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  _select_market_code(str(code)), code, (2 - i) * 2000, 2000)) for i in range(3)], axis=0)

,buyorsell,num,price,time,vol,date,datetime,code,order
datetime,,,,,,,,,
2018-06-21 09:25:00,2.0,110.0,9.93,09:25,3056.0,2018-06-21,2018-06-21 09:25:00,000001,0
2018-06-21 09:30:00,1.0,217.0,9.93,09:30,5680.0,2018-06-21,2018-06-21 09:30:00,000001,1
2018-06-21 09:30:00,0.0,39.0,9.94,09:30,1419.0,2018-06-21,2018-06-21 09:30:00,000001,2
2018-06-21 09:30:00,0.0,13.0,9.94,09:30,303.0,2018-06-21,2018-06-21 09:30:00,000001,3
2018-06-21 09:30:00,0.0,4.0,9.94,09:30,56.0,2018-06-21,2018-06-21 09:30:00,000001,4
2018-06-21 09:30:00,2.0,6.0,9.93,09:30,24.0,2018-06-21,2018-06-21 09:30:00,000001,5
2018-06-21 09:30:00,0.0,5.0,9.93,09:30,106.0,2018-06-21,2018-06-21 09:30:00,000001,6
2018-06-21 09:30:00,1.0,8.0,9.93,09:30,347.0,2018-06-21,2018-06-21 09:30:00,000001,7
2018-06-21 09:30:00,1.0,17.0,9.91,09:30,172.0,2018-06-21,2018-06-21 09:30:00,000001,8
2018-06-21 09:30:00,0.0,5.0,9.93,09:30,49.0,2018-06-21,2018-06-21 09:30:00,000001,9
2018-06-21 09:30:00,0.0,6.0,9.93,09:30,58.0,2018-06-21,2018-06-21 09:30:00,000001,10
2018-06-21 09:30:00,0.0,6.0,9.93,09:30,90.0,2018-06-21,2018-06-21 09:30:00,000001,11
2018-06-21 09:30:00,1.0,4.0,9.91,09:30,41.0,2018-06-21,2018-06-21 09:30:00,000001,12
2018-06-21 09:30:00,1.0,8.0,9.90,09:30,176.0,2018-06-21,2018-06-21 09:30:00,000001,13
2018-06-21 09:30:00,0.0,5.0,9.93,09:30,51.0,2018-06-21,2018-06-21 09:30:00,000001,14
2018-06-21 09:30:00,0.0,4.0,9.93,09:30,54.0,2018-06-21,2018-06-21 09:30:00,000001,15
2018-06-21 09:30:00,0.0,2.0,9.92,09:30,9.0,2018-06-21,2018-06-21 09:30:00,000001,16
2018-06-21 09:30:00,1.0,2.0,9.91,09:30,6.0,2018-06-21,2018-06-21 09:30:00,000001,17
2018-06-21 09:30:00,1.0,5.0,9.91,09:30,38.0,2018-06-21,2018-06-21 09:30:00,000001,18
2018-06-21 09:30:00,1.0,1.0,9.91,09:30,10.0,2018-06-21,2018-06-21 09:30:00,000001,19
2018-06-21 09:31:00,1.0,3.0,9.91,09:31,67.0,2018-06-21,2018-06-21 09:31:00,000001,20
2018-06-21 09:31:00,0.0,5.0,9.92,09:31,190.0,2018-06-21,2018-06-21 09:31:00,000001,21
2018-06-21 09:31:00,1.0,3.0,9.91,09:31,83.0,2018-06-21,2018-06-21 09:31:00,000001,22
2018-06-21 09:31:00,1.0,6.0,9.91,09:31,47.0,2018-06-21,2018-06-21 09:31:00,000001,23
2018-06-21 09:31:00,1.0,12.0,9.91,09:31,271.0,2018-06-21,2018-06-21 09:31:00,000001,24
2018-06-21 09:31:00,1.0,13.0,9.91,09:31,184.0,2018-06-21,2018-06-21 09:31:00,000001,25
2018-06-21 09:31:00,0.0,3.0,9.91,09:31,110.0,2018-06-21,2018-06-21 09:31:00,000001,26
2018-06-21 09:31:00,1.0,6.0,9.90,09:31,133.0,2018-06-21,2018-06-21 09:31:00,000001,27
2018-06-21 09:31:00,0.0,2.0,9.91,09:31,86.0,2018-06-21,2018-06-21 09:31:00,000001,28
2018-06-21 09:31:00,0.0,12.0,9.91,09:31,91.0,2018-06-21,2018-06-21 09:31:00,000001,29
...,...,...,...,...,...,...,...,...,...
2018-06-21 10:54:00,1.0,3.0,10.00,10:54,76.0,2018-06-21,2018-06-21 10:54:00,000001,1543
2018-06-21 10:54:00,1.0,4.0,10.00,10:54,54.0,2018-06-21,2018-06-21 10:54:00,000001,1544
2018-06-21 10:54:00,1.0,1.0,10.00,10:54,2.0,2018-06-21,2018-06-21 10:54:00,000001,1545
2018-06-21 10:54:00,1.0,9.0,10.00,10:54,184.0,2018-06-21,2018-06-21 10:54:00,000001,1546
2018-06-21 10:54:00,1.0,3.0,10.00,10:54,23.0,2018-06-21,2018-06-21 10:54:00,000001,1547
2018-06-21 10:54:00,1.0,3.0,10.00,10:54,148.0,2018-06-21,2018-06-21 10:54:00,000001,1548
2018-06-21 10:54:00,1.0,1.0,10.00,10:54,50.0,2018-06-21,2018-06-21 10:54:00,000001,1549
2018-06-21 10:54:00,1.0,2.0,10.00,10:54,15.0,2018-06-21,2018-06-21 10:54:00,000001,1550
2018-06-21 10:54:00,0.0,3.0,10.01,10:54,145.0,2018-06-21,2018-06-21 10:54:00,000001,1551
2018-06-21 10:54:00,0.0,5.0,10.01,10:54,69.0,2018-06-21,2018-06-21 10:54:00,000001,1552
2018-06-21 10:55:00,1.0,5.0,10.00,10:55,58.0,2018-06-21,2018-06-21 10:55:00,000001,1553
2018-06-21 10:55:00,1.0,10.0,10.00,10:55,167.0,2018-06-21,2018-06-21 10:55:00,000001,1554
2018-06-21 10:55:00,1.0,3.0,10.00,10:55,134.0,2018-06-21,2018-06-21 10:55:00,000001,1555
2018-06-21 10:55:00,0.0,3.0,10.01,10:55,27.0,2018-06-21,2018-06-21 10:55:00,000001,1556
2018-06-21 10:55:00,1.0,3.0,10.00,10:55,270.0,2018-06-21,2018-06-21 10:55:00,000001,1557
2018-06-21 10:55:00,0.0,6.0,10.01,10:55,190.0,2018-06-21,2018-06-21 10:55:00,000001,1558
2018-06-21 10:55:00,1.0,7.0,10.00,10:55,272.0,2018-06-21,2018-06-21 10:55:00,000001,1559
2018-06-21 10:55:00,1.0,10.0,10.00,10:55,576.0,2018-06-21,2018-06-21 10:55:00,000001,1560
2018-06-21 10:55:00,1.0,4.0,10.00,10:55,215.0,2018-06-21,2018-06-21 10:55:00,000001,1561
2018-06-21 10:55:00,1.0,3.0,10.00,10:55,58.0,2018-06-21,2018-06-21 10:55:00,000001,1562
2018-06-21 10:55:00,1.0,3.0,10.00,10:55,20.0,2018-06-21,2018-06-21 10:55:00,000001,1563
2018-06-21 10:55:00,1.0,5.0,10.00,10:55,41.0,2018-06-21,2018-06-21 10:55:00,000001,1564
2018-06-21 10:55:00,1.0,1.0,10.00,10:55,20.0,2018-06-21,2018-06-21 10:55:00,000001,1565
2018-06-21 10:55:00,0.0,1.0,10.01,10:55,13.0,2018-06-21,2018-06-21 10:55:00,000001,1566
2018-06-21 10:55:00,0.0,63.0,10.02,10:55,10025.0,2018-06-21,2018-06-21 10:55:00,000001,1567
2018-06-21 10:55:00,1.0,1.0,10.00,10:55,9.0,2018-06-21,2018-06-21 10:55:00,000001,1568
2018-06-21 10:55:00,1.0,4.0,10.00,10:55,254.0,2018-06-21,2018-06-21 10:55:00,000001,1569
2018-06-21 10:56:00,1.0,2.0,10.00,10:56,27.0,2018-06-21,2018-06-21 10:56:00,000001,1570
2018-06-21 10:56:00,1.0,2.0,10.00,10:56,9.0,2018-06-21,2018-06-21 10:56:00,000001,1571
2018-06-21 10:56:00,0.0,1.0,10.01,10:56,40.0,2018-06-21,2018-06-21 10:56:00,000001,1572

In [8]:
# 获取股票历史分笔成交tick
QA.QA_fetch_get_stock_transaction('tdx','000001','2017-07-12','2017-07-15')

QUANTAXIS>> Successfully Getting 000001 history transaction data in day 2017-07-12
QUANTAXIS>> Successfully Getting 000001 history transaction data in day 2017-07-13
QUANTAXIS>> Successfully Getting 000001 history transaction data in day 2017-07-14

,time,price,vol,buyorsell,date,datetime,code,order
datetime,,,,,,,,
2017-07-12 09:30:00,09:30,10.27,32349,2,2017-07-12,2017-07-12 09:30:00,000001,0
2017-07-12 09:30:00,09:30,10.28,1195,0,2017-07-12,2017-07-12 09:30:00,000001,1
2017-07-12 09:30:00,09:30,10.31,22759,0,2017-07-12,2017-07-12 09:30:00,000001,2
2017-07-12 09:30:00,09:30,10.30,1235,1,2017-07-12,2017-07-12 09:30:00,000001,3
2017-07-12 09:30:00,09:30,10.31,2423,1,2017-07-12,2017-07-12 09:30:00,000001,4
2017-07-12 09:30:00,09:30,10.32,461,0,2017-07-12,2017-07-12 09:30:00,000001,5
2017-07-12 09:30:00,09:30,10.31,1499,1,2017-07-12,2017-07-12 09:30:00,000001,6
2017-07-12 09:30:00,09:30,10.30,7855,1,2017-07-12,2017-07-12 09:30:00,000001,7
2017-07-12 09:30:00,09:30,10.31,912,0,2017-07-12,2017-07-12 09:30:00,000001,8
2017-07-12 09:30:00,09:30,10.30,6924,1,2017-07-12,2017-07-12 09:30:00,000001,9
2017-07-12 09:30:00,09:30,10.30,6436,0,2017-07-12,2017-07-12 09:30:00,000001,10
2017-07-12 09:30:00,09:30,10.29,8479,1,2017-07-12,2017-07-12 09:30:00,000001,11
2017-07-12 09:30:00,09:30,10.28,8315,1,2017-07-12,2017-07-12 09:30:00,000001,12
2017-07-12 09:30:00,09:30,10.27,6221,1,2017-07-12,2017-07-12 09:30:00,000001,13
2017-07-12 09:30:00,09:30,10.30,2535,0,2017-07-12,2017-07-12 09:30:00,000001,14
2017-07-12 09:30:00,09:30,10.30,1706,1,2017-07-12,2017-07-12 09:30:00,000001,15
2017-07-12 09:30:00,09:30,10.28,1927,1,2017-07-12,2017-07-12 09:30:00,000001,16
2017-07-12 09:30:00,09:30,10.28,3814,1,2017-07-12,2017-07-12 09:30:00,000001,17
2017-07-12 09:30:00,09:30,10.30,4391,0,2017-07-12,2017-07-12 09:30:00,000001,18
2017-07-12 09:30:00,09:30,10.29,2860,1,2017-07-12,2017-07-12 09:30:00,000001,19
2017-07-12 09:30:00,09:30,10.29,3863,0,2017-07-12,2017-07-12 09:30:00,000001,20
2017-07-12 09:30:00,09:30,10.29,3289,0,2017-07-12,2017-07-12 09:30:00,000001,21
2017-07-12 09:30:00,09:30,10.29,3556,0,2017-07-12,2017-07-12 09:30:00,000001,22
2017-07-12 09:30:00,09:30,10.28,917,1,2017-07-12,2017-07-12 09:30:00,000001,23
2017-07-12 09:30:00,09:30,10.29,3481,0,2017-07-12,2017-07-12 09:30:00,000001,24
2017-07-12 09:30:00,09:30,10.29,816,1,2017-07-12,2017-07-12 09:30:00,000001,25
2017-07-12 09:30:00,09:30,10.29,1525,0,2017-07-12,2017-07-12 09:30:00,000001,26
2017-07-12 09:30:00,09:30,10.30,1920,0,2017-07-12,2017-07-12 09:30:00,000001,27
2017-07-12 09:30:00,09:30,10.28,4215,1,2017-07-12,2017-07-12 09:30:00,000001,28
2017-07-12 09:31:00,09:31,10.29,1311,0,2017-07-12,2017-07-12 09:31:00,000001,29
...,...,...,...,...,...,...,...,...
2017-07-14 14:54:00,14:54,10.87,154,1,2017-07-14,2017-07-14 14:54:00,000001,4546
2017-07-14 14:54:00,14:54,10.87,165,1,2017-07-14,2017-07-14 14:54:00,000001,4547
2017-07-14 14:55:00,14:55,10.87,187,1,2017-07-14,2017-07-14 14:55:00,000001,4548
2017-07-14 14:55:00,14:55,10.87,1100,1,2017-07-14,2017-07-14 14:55:00,000001,4549
2017-07-14 14:55:00,14:55,10.87,479,1,2017-07-14,2017-07-14 14:55:00,000001,4550
2017-07-14 14:55:00,14:55,10.88,1057,0,2017-07-14,2017-07-14 14:55:00,000001,4551
2017-07-14 14:55:00,14:55,10.87,151,1,2017-07-14,2017-07-14 14:55:00,000001,4552
2017-07-14 14:55:00,14:55,10.87,130,0,2017-07-14,2017-07-14 14:55:00,000001,4553
2017-07-14 14:55:00,14:55,10.87,579,0,2017-07-14,2017-07-14 14:55:00,000001,4554
2017-07-14 14:55:00,14:55,10.87,414,0,2017-07-14,2017-07-14 14:55:00,000001,4555
2017-07-14 14:55:00,14:55,10.87,267,0,2017-07-14,2017-07-14 14:55:00,000001,4556
2017-07-14 14:55:00,14:55,10.87,582,0,2017-07-14,2017-07-14 14:55:00,000001,4557
2017-07-14 14:55:00,14:55,10.87,1879,1,2017-07-14,2017-07-14 14:55:00,000001,4558
2017-07-14 14:55:00,14:55,10.87,129,1,2017-07-14,2017-07-14 14:55:00,000001,4559
2017-07-14 14:55:00,14:55,10.87,1213,1,2017-07-14,2017-07-14 14:55:00,000001,4560
2017-07-14 14:55:00,14:55,10.87,2416,1,2017-07-14,2017-07-14 14:55:00,000001,4561
2017-07-14 14:55:00,14:55,10.87,209,1,2017-07-14,2017-07-14 14:55:00,000001,4562
2017-07-14 14:55:00,14:55,10.87,651,1,2017-07-14,2017-07-14 14:55:00,000001,4563
2017-07-14 14:55:00,14:55,10.87,351,1,2017-07-14,2017-07-14 14:55:00,000001,4564
2017-07-14 14:55:00,14:55,10.88,6037,0,2017-07-14,2017-07-14 14:55:00,000001,4565
2017-07-14 14:55:00,14:55,10.87,313,1,2017-07-14,2017-07-14 14:55:00,000001,4566
2017-07-14 14:55:00,14:55,10.87,250,1,2017-07-14,2017-07-14 14:55:00,000001,4567
2017-07-14 14:56:00,14:56,10.88,587,0,2017-07-14,2017-07-14 14:56:00,000001,4568
2017-07-14 14:56:00,14:56,10.87,6985,1,2017-07-14,2017-07-14 14:56:00,000001,4569
2017-07-14 14:56:00,14:56,10.88,146,1,2017-07-14,2017-07-14 14:56:00,000001,4570
2017-07-14 14:56:00,14:56,10.88,189,0,2017-07-14,2017-07-14 14:56:00,000001,4571
2017-07-14 14:56:00,14:56,10.88,590,1,2017-07-14,2017-07-14 14:56:00,000001,4572
2017-07-14 14:56:00,14:56,10.89,106,0,2017-07-14,2017-07-14 14:56:00,000001,4573
2017-07-14 14:56:00,14:56,10.88,305,1,2017-07-14,2017-07-14 14:56:00,000001,4574
2017-07-14 14:59:00,14:59,10.90,21269,2,2017-07-14,2017-07-14 14:59:00,000001,4575

In [9]:
# 获取通达信的股票板块
QA.QA_fetch_get_stock_block('tdx')

       blockname    code type source
code
000001     通达信88  000001   gn    tdx
000002     通达信88  000002   gn    tdx
000008     通达信88  000008   gn    tdx
000028     通达信88  000028   gn    tdx
000157     通达信88  000157   gn    tdx
000333     通达信88  000333   gn    tdx
000425     通达信88  000425   gn    tdx
000531     通达信88  000531   gn    tdx
000538     通达信88  000538   gn    tdx
000703     通达信88  000703   gn    tdx
000776     通达信88  000776   gn    tdx
000837     通达信88  000837   gn    tdx
000876     通达信88  000876   gn    tdx
000895     通达信88  000895   gn    tdx
000900     通达信88  000900   gn    tdx
000970     通达信88  000970   gn    tdx
000996     通达信88  000996   gn    tdx
002033     通达信88  002033   gn    tdx
002039     通达信88  002039   gn    tdx
002051     通达信88  002051   gn    tdx
002186     通达信88  002186   gn    tdx
002236     通达信88  002236   gn    tdx
002293     通达信88  002293   gn    tdx
002310     通达信88  002310   gn    tdx
002315     通达信88  002315   gn    tdx
002371     通达信88  002371   gn    tdx
002422     通达信88  002422   gn    tdx
002456     通达信88  002456   gn    tdx
002511     通达信88  002511   gn    tdx
002572     通达信88  002572   gn    tdx
...          ...     ...  ...    ...
603356      近期异动  603356   fg    tdx
603363      近期异动  603363   fg    tdx
603477      近期异动  603477   fg    tdx
603486      近期异动  603486   fg    tdx
603499      近期异动  603499   fg    tdx
603500      近期异动  603500   fg    tdx
603506      近期异动  603506   fg    tdx
603507      近期异动  603507   fg    tdx
603516      近期异动  603516   fg    tdx
603607      近期异动  603607   fg    tdx
603617      近期异动  603617   fg    tdx
603637      近期异动  603637   fg    tdx
603648      近期异动  603648   fg    tdx
603676      近期异动  603676   fg    tdx
603683      近期异动  603683   fg    tdx
603709      近期异动  603709   fg    tdx
603711      近期异动  603711   fg    tdx
603712      近期异动  603712   fg    tdx
603721      近期异动  603721   fg    tdx
603722      近期异动  603722   fg    tdx
603777      近期异动  603777   fg    tdx
603800      近期异动  603800   fg    tdx
603813      近期异动  603813   fg    tdx
603895      近期异动  603895   fg    tdx
603897      近期异动  603897   fg    tdx
603912      近期异动  603912   fg    tdx
603917      近期异动  603917   fg    tdx
603936      近期异动  603936   fg    tdx
603937      近期异动  603937   fg    tdx
603970      近期异动  603970   fg    tdx

[34624 rows x 4 columns]

In [10]:
# 获取股票的最新一期的财务报表数据

QA.QA_fetch_get_stock_info('000001')

,market,code,liutongguben,province,industry,updated_date,ipo_date,zongguben,guojiagu,faqirenfarengu,...,touzishouyu,jingyingxianjinliu,zongxianjinliu,cunhuo,lirunzonghe,shuihoulirun,jinglirun,weifenpeilirun,meigujingzichan,baoliu2
0,0,000001,1.717025e+10,18,1,20180518,19910403,1.717041e+10,1.801990e+09,6.214000e+10,...,4.160000e+09,4.144200e+11,5.516600e+11,0.0,8.567000e+10,6.595000e+10,6.595000e+10,8.044500e+11,11.85,3.0

In [11]:
# 获取股票除权除息数据
QA.QA_fetch_get_stock_xdxr('tdx','000001')

,category,name,fenhong,peigujia,songzhuangu,peigu,suogu,liquidity_before,liquidity_after,shares_before,shares_after,fenshu,xingquanjia,date,category_meaning,code
date,,,,,,,,,,,,,,,,
1990-03-01,1,除权除息,0.000,3.56,0.0,1.0,None,NaN,NaN,NaN,NaN,None,None,1990-03-01,除权除息,000001
1991-04-03,5,股本变化,NaN,NaN,NaN,NaN,None,0.000000e+00,2.650000e+03,0.000000e+00,4.850017e+03,None,None,1991-04-03,股本变化,000001
1991-05-02,1,除权除息,3.000,0.00,4.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1991-05-02,除权除息,000001
1991-05-02,2,送配股上市,NaN,NaN,NaN,NaN,None,2.650000e+03,3.949072e+03,4.850017e+03,8.975164e+03,None,None,1991-05-02,送配股上市,000001
1991-08-17,1,除权除息,0.000,0.00,10.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1991-08-17,除权除息,000001
1992-03-23,1,除权除息,2.000,0.00,5.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1992-03-23,除权除息,000001
1993-05-24,1,除权除息,3.000,16.00,8.5,1.0,None,NaN,NaN,NaN,NaN,None,None,1993-05-24,除权除息,000001
1993-05-24,2,送配股上市,NaN,NaN,NaN,NaN,None,3.949072e+03,1.881298e+04,8.975164e+03,2.694179e+04,None,None,1993-05-24,送配股上市,000001
1993-06-30,2,送配股上市,NaN,NaN,NaN,NaN,None,1.881298e+04,1.800433e+04,2.694179e+04,2.612537e+04,None,None,1993-06-30,送配股上市,000001
1994-07-09,2,送配股上市,NaN,NaN,NaN,NaN,None,1.800433e+04,1.980477e+04,2.612537e+04,2.873791e+04,None,None,1994-07-09,送配股上市,000001
1994-07-11,1,除权除息,5.000,5.00,5.0,1.0,None,NaN,NaN,NaN,NaN,None,None,1994-07-11,除权除息,000001
1994-07-14,2,送配股上市,NaN,NaN,NaN,NaN,None,1.980477e+04,2.970715e+04,2.873791e+04,4.310686e+04,None,None,1994-07-14,送配股上市,000001
1995-09-25,1,除权除息,3.000,0.00,2.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1995-09-25,除权除息,000001
1995-09-27,2,送配股上市,NaN,NaN,NaN,NaN,None,2.970715e+04,3.564858e+04,4.310686e+04,5.172824e+04,None,None,1995-09-27,送配股上市,000001
1996-05-27,1,除权除息,0.000,0.00,10.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1996-05-27,除权除息,000001
1996-05-29,2,送配股上市,NaN,NaN,NaN,NaN,None,3.564858e+04,7.144230e+04,5.172824e+04,1.034565e+05,None,None,1996-05-29,送配股上市,000001
1997-08-25,1,除权除息,2.000,0.00,5.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1997-08-25,除权除息,000001
1997-08-27,2,送配股上市,NaN,NaN,NaN,NaN,None,7.144230e+04,1.071634e+05,1.034565e+05,1.551847e+05,None,None,1997-08-27,送配股上市,000001
1999-10-18,1,除权除息,6.000,0.00,0.0,0.0,None,NaN,NaN,NaN,NaN,None,None,1999-10-18,除权除息,000001
2000-11-06,1,除权除息,0.000,8.00,0.0,3.0,None,NaN,NaN,NaN,NaN,None,None,2000-11-06,除权除息,000001
2000-12-08,2,送配股上市,NaN,NaN,NaN,NaN,None,1.071634e+05,1.393125e+05,1.551847e+05,1.945822e+05,None,None,2000-12-08,送配股上市,000001
2001-10-15,5,股本变化,NaN,NaN,NaN,NaN,None,1.393125e+05,1.409362e+05,1.945822e+05,1.945822e+05,None,None,2001-10-15,股本变化,000001
2002-07-23,1,除权除息,1.500,0.00,0.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2002-07-23,除权除息,000001
2003-09-29,1,除权除息,1.500,0.00,0.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2003-09-29,除权除息,000001
2007-06-18,1,除权除息,0.000,0.00,1.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2007-06-18,除权除息,000001
2007-06-20,5,股本变化,NaN,NaN,NaN,NaN,None,1.409362e+05,1.550188e+05,1.945822e+05,2.086758e+05,None,None,2007-06-20,股本变化,000001
2007-12-28,5,股本变化,NaN,NaN,NaN,NaN,None,1.550188e+05,1.703272e+05,2.086758e+05,2.293407e+05,None,None,2007-12-28,股本变化,000001
2007-12-31,5,股本变化,NaN,NaN,NaN,NaN,None,1.703272e+05,1.703256e+05,2.293407e+05,2.293407e+05,None,None,2007-12-31,股本变化,000001
2008-01-21,5,股本变化,NaN,NaN,NaN,NaN,None,1.703256e+05,1.756821e+05,2.293407e+05,2.293407e+05,None,None,2008-01-21,股本变化,000001
2008-06-26,5,股本变化,NaN,NaN,NaN,NaN,None,1.756821e+05,2.046520e+05,2.293407e+05,2.293407e+05,None,None,2008-06-26,股本变化,000001
2008-06-27,5,股本变化,NaN,NaN,NaN,NaN,None,2.046520e+05,2.142004e+05,2.293407e+05,2.388795e+05,None,None,2008-06-27,股本变化,000001
2008-10-31,1,除权除息,0.335,0.00,3.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2008-10-31,除权除息,000001
2008-10-31,5,股本变化,NaN,NaN,NaN,NaN,None,2.142004e+05,2.784606e+05,2.388795e+05,3.105434e+05,None,None,2008-10-31,股本变化,000001
2009-06-22,3,非流通股上市,NaN,NaN,NaN,NaN,None,2.784606e+05,2.923675e+05,3.105434e+05,3.105434e+05,None,None,2009-06-22,非流通股上市,000001
2009-06-30,5,股本变化,NaN,NaN,NaN,NaN,None,2.923675e+05,2.923757e+05,3.105434e+05,3.105434e+05,None,None,2009-06-30,股本变化,000001
2009-10-15,3,非流通股上市,NaN,NaN,NaN,NaN,None,2.923757e+05,2.924114e+05,3.105434e+05,3.105434e+05,None,None,2009-10-15,非流通股上市,000001
2010-06-28,3,非流通股上市,NaN,NaN,NaN,NaN,None,2.924114e+05,3.105370e+05,3.105434e+05,3.105434e+05,None,None,2010-06-28,非流通股上市,000001
2010-06-29,5,股本变化,NaN,NaN,NaN,NaN,None,3.105370e+05,3.105370e+05,3.105434e+05,3.485014e+05,None,None,2010-06-29,股本变化,000001
2010-06-30,5,股本变化,NaN,NaN,NaN,NaN,None,3.105370e+05,3.105368e+05,3.485014e+05,3.485014e+05,None,None,2010-06-30,股本变化,000001
2010-12-31,5,股本变化,NaN,NaN,NaN,NaN,None,3.105368e+05,3.105358e+05,3.485014e+05,3.485014e+05,None,None,2010-12-31,股本变化,000001
2011-06-30,5,股本变化,NaN,NaN,NaN,NaN,None,3.105358e+05,3.105359e+05,3.485014e+05,3.485014e+05,None,None,2011-06-30,股本变化,000001
2011-08-05,5,股本变化,NaN,NaN,NaN,NaN,None,3.105359e+05,3.105359e+05,3.485014e+05,5.123350e+05,None,None,2011-08-05,股本变化,000001
2012-10-19,1,除权除息,1.000,0.00,0.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2012-10-19,除权除息,000001
2013-06-20,1,除权除息,1.700,0.00,6.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2013-06-20,除权除息,000001
2013-06-20,2,送配股上市,NaN,NaN,NaN,NaN,None,3.105359e+05,4.968574e+05,5.123350e+05,8.197361e+05,None,None,2013-06-20,送配股上市,000001
2013-11-12,5,股本变化,NaN,NaN,NaN,NaN,None,4.968574e+05,5.575902e+05,8.197361e+05,8.197361e+05,None,None,2013-11-12,股本变化,000001
2014-01-09,5,股本变化,NaN,NaN,NaN,NaN,None,5.575902e+05,5.575902e+05,8.197361e+05,9.520746e+05,None,None,2014-01-09,股本变化,000001
2014-06-12,1,除权除息,1.600,0.00,2.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2014-06-12,除权除息,000001
2014-06-12,9,转配股上市,NaN,NaN,NaN,NaN,None,5.575902e+05,6.691059e+05,9.520746e+05,1.142490e+06,None,None,2014-06-12,转配股上市,000001
2014-09-01,5,股本变化,NaN,NaN,NaN,NaN,None,6.691059e+05,9.836712e+05,1.142490e+06,1.142490e+06,None,None,2014-09-01,股本变化,000001
2015-04-13,1,除权除息,1.740,0.00,2.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2015-04-13,除权除息,000001
2015-04-13,9,转配股上市,NaN,NaN,NaN,NaN,None,9.836712e+05,1.180406e+06,1.142490e+06,1.370987e+06,None,None,2015-04-13,转配股上市,000001
2015-05-21,5,股本变化,NaN,NaN,NaN,NaN,None,1.180406e+06,1.180406e+06,1.370987e+06,1.430868e+06,None,None,2015-05-21,股本变化,000001
2016-05-23,5,股本变化,NaN,NaN,NaN,NaN,None,1.180406e+06,1.219265e+06,1.430868e+06,1.430868e+06,None,None,2016-05-23,股本变化,000001
2016-06-16,1,除权除息,1.530,0.00,2.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2016-06-16,除权除息,000001
2016-06-16,9,转配股上市,NaN,NaN,NaN,NaN,None,1.219265e+06,1.463118e+06,1.430868e+06,1.717041e+06,None,None,2016-06-16,转配股上市,000001
2017-01-09,5,股本变化,NaN,NaN,NaN,NaN,None,1.463118e+06,1.691799e+06,1.717041e+06,1.717041e+06,None,None,2017-01-09,股本变化,000001
2017-07-21,1,除权除息,1.580,0.00,0.0,0.0,None,NaN,NaN,NaN,NaN,None,None,2017-07-21,除权除息,000001
2017-12-31,5,股本变化,NaN,NaN,NaN,NaN,None,1.691799e+06,1.691798e+06,1.717041e+06,1.717041e+06,None,None,2017-12-31,股本变化,000001
2018-05-21,5,股本变化,NaN,NaN,NaN,NaN,None,1.691798e+06,1.717025e+06,1.717041e+06,1.717041e+06,None,None,2018-05-21,股本变化,000001

In [12]:
# 获取指数,基金日线数据
# 用法和stock_day一致  510050是50etf
QA.QA_fetch_get_index_day('tdx','510050','2017-01-01','2017-01-31')
QA.QA_fetch_get_index_day('tdx','510050','2017-01-01','2017-01-31',level='w')# 周线数据

,open,close,high,low,vol,amount,date,code,date_stamp
date,,,,,,,,,
2017-01-06,2.285,2.314,2.328,2.285,7706524.0,1.783385e+09,2017-01-06,510050,1.483632e+09
2017-01-13,2.312,2.310,2.324,2.293,7681062.0,1.774093e+09,2017-01-13,510050,1.484237e+09
2017-01-20,2.308,2.349,2.353,2.286,11915954.0,2.778351e+09,2017-01-20,510050,1.484842e+09
2017-01-26,2.350,2.366,2.372,2.343,8516911.0,2.006204e+09,2017-01-26,510050,1.485360e+09

In [13]:
# 获取指数,基金分钟线数据
# 用法和stock_min一致  510050是50etf
QA.QA_fetch_get_index_min('tdx','510050','2017-11-01 09:30:00','2017-11-30 15:00:00','15min')

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type
datetime,,,,,,,,,,,,
2017-11-01 09:45:00,2.851,2.859,2.859,2.848,31317900.0,89326976.0,2017-11-01 09:45:00,510050,2017-11-01,1.509466e+09,1.509501e+09,15min
2017-11-01 10:00:00,2.859,2.867,2.868,2.856,16830400.0,48147744.0,2017-11-01 10:00:00,510050,2017-11-01,1.509466e+09,1.509502e+09,15min
2017-11-01 10:15:00,2.867,2.866,2.870,2.864,22477600.0,64457360.0,2017-11-01 10:15:00,510050,2017-11-01,1.509466e+09,1.509502e+09,15min
2017-11-01 10:30:00,2.865,2.860,2.869,2.859,27384300.0,78407440.0,2017-11-01 10:30:00,510050,2017-11-01,1.509466e+09,1.509503e+09,15min
2017-11-01 10:45:00,2.860,2.856,2.863,2.853,57739600.0,165000256.0,2017-11-01 10:45:00,510050,2017-11-01,1.509466e+09,1.509504e+09,15min
2017-11-01 11:00:00,2.856,2.852,2.857,2.852,46366000.0,132322688.0,2017-11-01 11:00:00,510050,2017-11-01,1.509466e+09,1.509505e+09,15min
2017-11-01 11:15:00,2.852,2.854,2.854,2.849,23111500.0,65901632.0,2017-11-01 11:15:00,510050,2017-11-01,1.509466e+09,1.509506e+09,15min
2017-11-01 11:30:00,2.854,2.850,2.857,2.850,17747200.0,50627776.0,2017-11-01 11:30:00,510050,2017-11-01,1.509466e+09,1.509507e+09,15min
2017-11-01 13:15:00,2.850,2.844,2.850,2.840,18112400.0,51557184.0,2017-11-01 13:15:00,510050,2017-11-01,1.509466e+09,1.509513e+09,15min
2017-11-01 13:30:00,2.843,2.844,2.848,2.842,11268700.0,32052352.0,2017-11-01 13:30:00,510050,2017-11-01,1.509466e+09,1.509514e+09,15min
2017-11-01 13:45:00,2.844,2.839,2.844,2.837,24280300.0,68943680.0,2017-11-01 13:45:00,510050,2017-11-01,1.509466e+09,1.509515e+09,15min
2017-11-01 14:00:00,2.840,2.847,2.847,2.839,14580700.0,41439104.0,2017-11-01 14:00:00,510050,2017-11-01,1.509466e+09,1.509516e+09,15min
2017-11-01 14:15:00,2.846,2.853,2.857,2.845,21338000.0,60828800.0,2017-11-01 14:15:00,510050,2017-11-01,1.509466e+09,1.509517e+09,15min
2017-11-01 14:30:00,2.853,2.851,2.854,2.846,12760300.0,36370432.0,2017-11-01 14:30:00,510050,2017-11-01,1.509466e+09,1.509518e+09,15min
2017-11-01 14:45:00,2.851,2.845,2.851,2.840,12014600.0,34171328.0,2017-11-01 14:45:00,510050,2017-11-01,1.509466e+09,1.509519e+09,15min
2017-11-01 15:00:00,2.844,2.842,2.846,2.840,20795800.0,59112256.0,2017-11-01 15:00:00,510050,2017-11-01,1.509466e+09,1.509520e+09,15min
2017-11-02 09:45:00,2.838,2.831,2.845,2.831,31514300.0,89403096.0,2017-11-02 09:45:00,510050,2017-11-02,1.509552e+09,1.509587e+09,15min
2017-11-02 10:00:00,2.831,2.830,2.837,2.828,69600304.0,197045888.0,2017-11-02 10:00:00,510050,2017-11-02,1.509552e+09,1.509588e+09,15min
2017-11-02 10:15:00,2.831,2.832,2.834,2.830,23876800.0,67604064.0,2017-11-02 10:15:00,510050,2017-11-02,1.509552e+09,1.509589e+09,15min
2017-11-02 10:30:00,2.832,2.831,2.834,2.830,24360600.0,68985408.0,2017-11-02 10:30:00,510050,2017-11-02,1.509552e+09,1.509590e+09,15min
2017-11-02 10:45:00,2.831,2.834,2.837,2.828,39960200.0,113183744.0,2017-11-02 10:45:00,510050,2017-11-02,1.509552e+09,1.509591e+09,15min
2017-11-02 11:00:00,2.834,2.836,2.839,2.833,13625500.0,38655168.0,2017-11-02 11:00:00,510050,2017-11-02,1.509552e+09,1.509592e+09,15min
2017-11-02 11:15:00,2.835,2.831,2.836,2.830,10033500.0,28420672.0,2017-11-02 11:15:00,510050,2017-11-02,1.509552e+09,1.509592e+09,15min
2017-11-02 11:30:00,2.831,2.829,2.834,2.829,18290000.0,51781376.0,2017-11-02 11:30:00,510050,2017-11-02,1.509552e+09,1.509593e+09,15min
2017-11-02 13:15:00,2.830,2.833,2.834,2.827,23404800.0,66226560.0,2017-11-02 13:15:00,510050,2017-11-02,1.509552e+09,1.509600e+09,15min
2017-11-02 13:30:00,2.833,2.833,2.834,2.829,10364500.0,29349568.0,2017-11-02 13:30:00,510050,2017-11-02,1.509552e+09,1.509601e+09,15min
2017-11-02 13:45:00,2.832,2.833,2.835,2.831,9393900.0,26610880.0,2017-11-02 13:45:00,510050,2017-11-02,1.509552e+09,1.509602e+09,15min
2017-11-02 14:00:00,2.833,2.835,2.838,2.831,17788600.0,50429760.0,2017-11-02 14:00:00,510050,2017-11-02,1.509552e+09,1.509602e+09,15min
2017-11-02 14:15:00,2.835,2.841,2.842,2.833,25265400.0,71710400.0,2017-11-02 14:15:00,510050,2017-11-02,1.509552e+09,1.509603e+09,15min
2017-11-02 14:30:00,2.842,2.839,2.842,2.839,35792900.0,101657216.0,2017-11-02 14:30:00,510050,2017-11-02,1.509552e+09,1.509604e+09,15min
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-29 10:15:00,2.896,2.885,2.898,2.883,28279400.0,81754656.0,2017-11-29 10:15:00,510050,2017-11-29,1.511885e+09,1.511922e+09,15min
2017-11-29 10:30:00,2.886,2.884,2.886,2.877,35466300.0,102175712.0,2017-11-29 10:30:00,510050,2017-11-29,1.511885e+09,1.511923e+09,15min
2017-11-29 10:45:00,2.884,2.884,2.884,2.879,13637800.0,39300768.0,2017-11-29 10:45:00,510050,2017-11-29,1.511885e+09,1.511924e+09,15min
2017-11-29 11:00:00,2.883,2.868,2.884,2.868,25140200.0,72248192.0,2017-11-29 11:00:00,510050,2017-11-29,1.511885e+09,1.511924e+09,15min
2017-11-29 11:15:00,2.868,2.868,2.872,2.861,22749200.0,65217088.0,2017-11-29 11:15:00,510050,2017-11-29,1.511885e+09,1.511925e+09,15min
2017-11-29 11:30:00,2.868,2.872,2.872,2.861,20736700.0,59445248.0,2017-11-29 11:30:00,510050,2017-11-29,1.511885e+09,1.511926e+09,15min
2017-11-29 13:15:00,2.872,2.867,2.872,2.865,10210900.0,29286592.0,2017-11-29 13:15:00,510050,2017-11-29,1.511885e+09,1.511932e+09,15min
2017-11-29 13:30:00,2.867,2.862,2.867,2.858,15167800.0,43395200.0,2017-11-29 13:30:00,510050,2017-11-29,1.511885e+09,1.511933e+09,15min
2017-11-29 13:45:00,2.862,2.870,2.871,2.861,16851400.0,48310016.0,2017-11-29 13:45:00,510050,2017-11-29,1.511885e+09,1.511934e+09,15min
2017-11-29 14:00:00,2.870,2.885,2.888,2.870,20015600.0,57637632.0,2017-11-29 14:00:00,510050,2017-11-29,1.511885e+09,1.511935e+09,15min
2017-11-29 14:15:00,2.886,2.886,2.888,2.881,13197600.0,38069632.0,2017-11-29 14:15:00,510050,2017-11-29,1.511885e+09,1.511936e+09,15min
2017-11-29 14:30:00,2.886,2.892,2.898,2.885,27228000.0,78817408.0,2017-11-29 14:30:00,510050,2017-11-29,1.511885e+09,1.511937e+09,15min
2017-11-29 14:45:00,2.891,2.890,2.892,2.886,21694500.0,62682432.0,2017-11-29 14:45:00,510050,2017-11-29,1.511885e+09,1.511938e+09,15min
2017-11-29 15:00:00,2.889,2.890,2.896,2.889,47067200.0,136130112.0,2017-11-29 15:00:00,510050,2017-11-29,1.511885e+09,1.511939e+09,15min
2017-11-30 09:45:00,2.880,2.867,2.880,2.862,51529200.0,147891872.0,2017-11-30 09:45:00,510050,2017-11-30,1.511971e+09,1.512006e+09,15min
2017-11-30 10:00:00,2.865,2.889,2.892,2.862,35138100.0,101061072.0,2017-11-30 10:00:00,510050,2017-11-30,1.511971e+09,1.512007e+09,15min
2017-11-30 10:15:00,2.889,2.894,2.896,2.887,31764300.0,91837040.0,2017-11-30 10:15:00,510050,2017-11-30,1.511971e+09,1.512008e+09,15min
2017-11-30 10:30:00,2.894,2.885,2.897,2.885,27517100.0,79530432.0,2017-11-30 10:30:00,510050,2017-11-30,1.511971e+09,1.512009e+09,15min
2017-11-30 10:45:00,2.886,2.883,2.888,2.881,19133300.0,55191584.0,2017-11-30 10:45:00,510050,2017-11-30,1.511971e+09,1.512010e+09,15min
2017-11-30 11:00:00,2.883,2.889,2.891,2.880,25905100.0,74765248.0,2017-11-30 11:00:00,510050,2017-11-30,1.511971e+09,1.512011e+09,15min
2017-11-30 11:15:00,2.889,2.879,2.890,2.879,17156300.0,49473600.0,2017-11-30 11:15:00,510050,2017-11-30,1.511971e+09,1.512012e+09,15min
2017-11-30 11:30:00,2.879,2.877,2.880,2.875,32721900.0,94138752.0,2017-11-30 11:30:00,510050,2017-11-30,1.511971e+09,1.512013e+09,15min
2017-11-30 13:15:00,2.876,2.877,2.878,2.873,19074800.0,54849728.0,2017-11-30 13:15:00,510050,2017-11-30,1.511971e+09,1.512019e+09,15min
2017-11-30 13:30:00,2.878,2.877,2.887,2.877,46821900.0,135013888.0,2017-11-30 13:30:00,510050,2017-11-30,1.511971e+09,1.512020e+09,15min
2017-11-30 13:45:00,2.877,2.876,2.881,2.875,27634200.0,79528128.0,2017-11-30 13:45:00,510050,2017-11-30,1.511971e+09,1.512021e+09,15min
2017-11-30 14:00:00,2.876,2.875,2.880,2.874,22105200.0,63583360.0,2017-11-30 14:00:00,510050,2017-11-30,1.511971e+09,1.512022e+09,15min
2017-11-30 14:15:00,2.875,2.865,2.875,2.863,34819500.0,99853632.0,2017-11-30 14:15:00,510050,2017-11-30,1.511971e+09,1.512022e+09,15min
2017-11-30 14:30:00,2.865,2.857,2.868,2.855,34043500.0,97437696.0,2017-11-30 14:30:00,510050,2017-11-30,1.511971e+09,1.512023e+09,15min
2017-11-30 14:45:00,2.858,2.862,2.863,2.850,61303100.0,175138432.0,2017-11-30 14:45:00,510050,2017-11-30,1.511971e+09,1.512024e+09,15min
2017-11-30 15:00:00,2.861,2.858,2.864,2.853,149074400.0,426171776.0,2017-11-30 15:00:00,510050,2017-11-30,1.511971e+09,1.512025e+09,15min

In [19]:
# 获取期货日线/周线/月线/季度线/年线
# 期货指数 RBL8 螺纹主连 RBL9 螺纹指数
QA.QA_fetch_get_future_day('tdx','RB1810','2017-11-01','2017-11-30',frequence='w')

,open,high,low,close,position,trade,price,amount,date,code,date_stamp
date,,,,,,,,,,,
2017-11-03,3476.0,3576.0,3421.0,3527.0,77156,1901,3539.0,1.081186e-40,2017-11-03,RB1810,1.509638e+09
2017-11-10,3526.0,3692.0,3524.0,3616.0,117744,3585,3606.0,1.649945e-40,2017-11-10,RB1810,1.510243e+09
2017-11-17,3620.0,3645.0,3470.0,3480.0,157138,4887,3489.0,2.201972e-40,2017-11-17,RB1810,1.510848e+09
2017-11-24,3480.0,3644.0,3473.0,3614.0,176610,4574,3593.0,2.474833e-40,2017-11-24,RB1810,1.511453e+09

In [22]:
# 获取期货分钟线
# 期货指数 RBL8 螺纹主连 RBL9 螺纹指数
QA.QA_fetch_get_future_min('tdx','RB1810','2018-06-20','2018-06-21',frequence='1min')

,open,high,low,close,position,trade,price,datetime,amount,code,date,date_stamp,time_stamp,type
datetime,,,,,,,,,,,,,,
2018-06-20 21:01:00,3759.000244,3759.000244,3753.000244,3756.000244,3125002,49830,0.0,2018-06-20 21:01:00,4.379061e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:02:00,3756.000244,3764.000244,3755.000244,3764.000244,3125214,28054,0.0,2018-06-20 21:02:00,4.379358e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:03:00,3763.000244,3763.000244,3759.000244,3759.000244,3124758,21104,0.0,2018-06-20 21:03:00,4.378719e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:04:00,3760.000244,3760.000244,3754.000244,3755.000244,3126000,15760,0.0,2018-06-20 21:04:00,4.380459e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:05:00,3755.000244,3757.000244,3754.000244,3756.000244,3125708,12230,0.0,2018-06-20 21:05:00,4.380050e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:06:00,3756.000244,3758.000244,3752.000244,3755.000244,3122734,17178,0.0,2018-06-20 21:06:00,4.375882e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:07:00,3756.000244,3760.000244,3754.000244,3760.000244,3123654,8216,0.0,2018-06-20 21:07:00,4.377172e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:08:00,3760.000244,3760.000244,3755.000244,3755.000244,3121644,9214,0.0,2018-06-20 21:08:00,4.374355e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:09:00,3755.000244,3758.000244,3753.000244,3758.000244,3122116,11580,0.0,2018-06-20 21:09:00,4.375016e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:10:00,3758.000244,3758.000244,3753.000244,3756.000244,3123360,10390,0.0,2018-06-20 21:10:00,4.376760e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:11:00,3756.000244,3757.000244,3752.000244,3753.000244,3126264,13940,0.0,2018-06-20 21:11:00,4.380829e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:12:00,3753.000244,3753.000244,3748.000244,3749.000244,3129806,24246,0.0,2018-06-20 21:12:00,4.385792e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:13:00,3749.000244,3751.000244,3748.000244,3749.000244,3129416,10416,0.0,2018-06-20 21:13:00,4.385246e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:14:00,3749.000244,3750.000244,3747.000244,3749.000244,3132126,13422,0.0,2018-06-20 21:14:00,4.389043e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:15:00,3749.000244,3752.000244,3748.000244,3752.000244,3134356,11082,0.0,2018-06-20 21:15:00,4.392168e-39,RB1810,2018-06-20,1.529424e+09,1.529500e+09,1min
2018-06-20 21:16:00,3751.000244,3753.000244,3750.000244,3752.000244,3134482,8354,0.0,2018-06-20 21:16:00,4.392345e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:17:00,3752.000244,3752.000244,3749.000244,3749.000244,3136142,6318,0.0,2018-06-20 21:17:00,4.394671e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:18:00,3749.000244,3752.000244,3749.000244,3751.000244,3136198,4602,0.0,2018-06-20 21:18:00,4.394749e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:19:00,3752.000244,3752.000244,3746.000244,3747.000244,3136724,9166,0.0,2018-06-20 21:19:00,4.395487e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:20:00,3747.000244,3752.000244,3747.000244,3751.000244,3138156,7650,0.0,2018-06-20 21:20:00,4.397493e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:21:00,3750.000244,3754.000244,3750.000244,3753.000244,3140730,8980,0.0,2018-06-20 21:21:00,4.401100e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:22:00,3754.000244,3754.000244,3751.000244,3752.000244,3141824,4902,0.0,2018-06-20 21:22:00,4.402633e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:23:00,3752.000244,3755.000244,3752.000244,3755.000244,3141460,6230,0.0,2018-06-20 21:23:00,4.402123e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:24:00,3754.000244,3757.000244,3754.000244,3755.000244,3143130,12666,0.0,2018-06-20 21:24:00,4.404463e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:25:00,3755.000244,3755.000244,3754.000244,3755.000244,3144102,3728,0.0,2018-06-20 21:25:00,4.405825e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:26:00,3755.000244,3755.000244,3753.000244,3753.000244,3145164,2768,0.0,2018-06-20 21:26:00,4.407313e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:27:00,3753.000244,3754.000244,3752.000244,3753.000244,3146342,3456,0.0,2018-06-20 21:27:00,4.408964e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:28:00,3752.000244,3753.000244,3751.000244,3751.000244,3147882,5636,0.0,2018-06-20 21:28:00,4.411122e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:29:00,3752.000244,3754.000244,3751.000244,3753.000244,3149282,4080,0.0,2018-06-20 21:29:00,4.413084e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
2018-06-20 21:30:00,3752.000244,3754.000244,3752.000244,3754.000244,3150220,4218,0.0,2018-06-20 21:30:00,4.414398e-39,RB1810,2018-06-20,1.529424e+09,1.529501e+09,1min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-21 10:15:00,3834.000244,3836.000244,3833.000244,3836.000244,3401502,6232,0.0,2018-06-21 10:15:00,4.766520e-39,RB1810,2018-06-21,1.529510e+09,1.529547e+09,1min
2018-06-21 10:31:00,3835.000244,3837.000244,3834.000244,3834.000244,3402762,15988,0.0,2018-06-21 10:31:00,4.768285e-39,RB1810,2018-06-21,1.529510e+09,1.529548e+09,1min
2018-06-21 10:32:00,3835.000244,3835.000244,3832.000244,3833.000244,3403510,4956,0.0,2018-06-21 10:32:00,4.769333e-39,RB1810,2018-06-21,1.529510e+09,1.529548e+09,1min
2018-06-21 10:33:00,3833.000244,3834.000244,3830.000244,3831.000244,3401598,11796,0.0,2018-06-21 10:33:00,4.766654e-39,RB1810,2018-06-21,1.529510e+09,1.529548e+09,1min
2018-06-21 10:34:00,3831.000244,3831.000244,3829.000244,3830.000244,3399768,11484,0.0,2018-06-21 10:34:00,4.764090e-39,RB1810,2018-06-21,1.529510e+09,1.529548e+09,1min
2018-06-21 10:35:00,3830.000244,3832.000244,3830.000244,3830.000244,3399252,5428,0.0,2018-06-21 10:35:00,4.763367e-39,RB1810,2018-06-21,1.529510e+09,1.529548e+09,1min
2018-06-21 10:36:00,3830.000244,3832.000244,3830.000244,3831.000244,3399528,3954,0.0,2018-06-21 10:36:00,4.763753e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:37:00,3831.000244,3832.000244,3828.000244,3830.000244,3399222,9308,0.0,2018-06-21 10:37:00,4.763325e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:38:00,3829.000244,3830.000244,3826.000244,3828.000244,3394564,19718,0.0,2018-06-21 10:38:00,4.756797e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:39:00,3828.000244,3828.000244,3825.000244,3826.000244,3390212,15552,0.0,2018-06-21 10:39:00,4.750699e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:40:00,3826.000244,3827.000244,3821.000244,3823.000244,3382638,33634,0.0,2018-06-21 10:40:00,4.740085e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:41:00,3822.000244,3824.000244,3822.000244,3824.000244,3378822,12804,0.0,2018-06-21 10:41:00,4.734738e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:42:00,3824.000244,3825.000244,3822.000244,3822.000244,3376136,12370,0.0,2018-06-21 10:42:00,4.730974e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:43:00,3823.000244,3824.000244,3822.000244,3823.000244,3376548,11040,0.0,2018-06-21 10:43:00,4.731552e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:44:00,3824.000244,3825.000244,3820.000244,3821.000244,3375098,20540,0.0,2018-06-21 10:44:00,4.729520e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:45:00,3821.000244,3824.000244,3820.000244,3824.000244,3374572,10834,0.0,2018-06-21 10:45:00,4.728783e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:46:00,3824.000244,3824.000244,3822.000244,3824.000244,3377870,12830,0.0,2018-06-21 10:46:00,4.733404e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:47:00,3823.000244,3824.000244,3822.000244,3823.000244,3379950,12694,0.0,2018-06-21 10:47:00,4.736319e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:48:00,3823.000244,3826.000244,3822.000244,3826.000244,3376596,9880,0.0,2018-06-21 10:48:00,4.731619e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:49:00,3826.000244,3826.000244,3824.000244,3825.000244,3377228,5112,0.0,2018-06-21 10:49:00,4.732504e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:50:00,3824.000244,3827.000244,3824.000244,3825.000244,3376232,5236,0.0,2018-06-21 10:50:00,4.731109e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:51:00,3826.000244,3827.000244,3824.000244,3826.000244,3375398,6320,0.0,2018-06-21 10:51:00,4.729940e-39,RB1810,2018-06-21,1.529510e+09,1.529549e+09,1min
2018-06-21 10:52:00,3826.000244,3828.000244,3826.000244,3827.000244,3373762,6114,0.0,2018-06-21 10:52:00,4.727648e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:53:00,3827.000244,3827.000244,3824.000244,3825.000244,3373412,6356,0.0,2018-06-21 10:53:00,4.727157e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:54:00,3825.000244,3827.000244,3825.000244,3827.000244,3371948,4248,0.0,2018-06-21 10:54:00,4.725106e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:55:00,3826.000244,3827.000244,3825.000244,3826.000244,3371714,3604,0.0,2018-06-21 10:55:00,4.724778e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:56:00,3825.000244,3826.000244,3823.000244,3823.000244,3373158,6024,0.0,2018-06-21 10:56:00,4.726801e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:57:00,3824.000244,3826.000244,3823.000244,3825.000244,3372032,3436,0.0,2018-06-21 10:57:00,4.725223e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:58:00,3826.000244,3827.000244,3825.000244,3826.000244,3370468,4230,0.0,2018-06-21 10:58:00,4.723032e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min
2018-06-21 10:59:00,3826.000244,3826.000244,3822.000244,3823.000244,3370548,4054,0.0,2018-06-21 10:59:00,4.723144e-39,RB1810,2018-06-21,1.529510e+09,1.529550e+09,1min

In [23]:
# 获取期货历史tick数据

QA.QA_fetch_get_future_transaction('tdx','RB1810','2018-06-14','2018-06-20')

QUANTAXIS>> Successfully Getting RB1810 history transaction data in day 2018-06-14
QUANTAXIS>> Successfully Getting RB1810 history transaction data in day 2018-06-15
QUANTAXIS>> Successfully Getting RB1810 history transaction data in day 2018-06-19
QUANTAXIS>> Successfully Getting RB1810 history transaction data in day 2018-06-20

,date,hour,minute,price,volume,zengcang,natrue_name,nature_name,direction,nature,datetime,code,order
datetime,,,,,,,,,,,,,
2018-06-14 20:59:00,2018-06-14,20,59,3867000,9142,274,开仓,开仓,0,20000,2018-06-14 20:59:00,RB1810,0
2018-06-14 21:00:00,2018-06-14,21,0,3867000,4474,210,多开,多开,1,0,2018-06-14 21:00:00,RB1810,1
2018-06-14 21:00:01,2018-06-14,21,0,3867000,2688,254,空开,空开,-1,10001,2018-06-14 21:00:01,RB1810,2
2018-06-14 21:00:01,2018-06-14,21,0,3869000,2380,692,多开,多开,1,1,2018-06-14 21:00:01,RB1810,3
2018-06-14 21:00:02,2018-06-14,21,0,3870000,1318,214,多开,多开,1,2,2018-06-14 21:00:02,RB1810,4
2018-06-14 21:00:02,2018-06-14,21,0,3870000,1198,-222,空平,空平,1,2,2018-06-14 21:00:02,RB1810,5
2018-06-14 21:00:03,2018-06-14,21,0,3870000,1432,42,多开,多开,1,3,2018-06-14 21:00:03,RB1810,6
2018-06-14 21:00:03,2018-06-14,21,0,3870000,564,34,空开,空开,-1,10003,2018-06-14 21:00:03,RB1810,7
2018-06-14 21:00:04,2018-06-14,21,0,3870000,880,-84,多平,多平,-1,10004,2018-06-14 21:00:04,RB1810,8
2018-06-14 21:00:04,2018-06-14,21,0,3867000,862,106,空开,空开,-1,10004,2018-06-14 21:00:04,RB1810,9
2018-06-14 21:00:05,2018-06-14,21,0,3867000,414,80,空开,空开,-1,10005,2018-06-14 21:00:05,RB1810,10
2018-06-14 21:00:05,2018-06-14,21,0,3866000,180,46,空开,空开,-1,10005,2018-06-14 21:00:05,RB1810,11
2018-06-14 21:00:06,2018-06-14,21,0,3867000,3844,-1568,平仓,平仓,0,20006,2018-06-14 21:00:06,RB1810,12
2018-06-14 21:00:06,2018-06-14,21,0,3867000,642,-4,空平,空平,1,6,2018-06-14 21:00:06,RB1810,13
2018-06-14 21:00:07,2018-06-14,21,0,3865000,476,-66,多平,多平,-1,10007,2018-06-14 21:00:07,RB1810,14
2018-06-14 21:00:07,2018-06-14,21,0,3865000,310,-2,多平,多平,-1,10007,2018-06-14 21:00:07,RB1810,15
2018-06-14 21:00:08,2018-06-14,21,0,3865000,1318,558,空开,空开,-1,10008,2018-06-14 21:00:08,RB1810,16
2018-06-14 21:00:08,2018-06-14,21,0,3866000,664,156,多开,多开,1,8,2018-06-14 21:00:08,RB1810,17
2018-06-14 21:00:09,2018-06-14,21,0,3867000,516,54,多开,多开,1,9,2018-06-14 21:00:09,RB1810,18
2018-06-14 21:00:09,2018-06-14,21,0,3867000,450,350,空开,空开,-1,10009,2018-06-14 21:00:09,RB1810,19
2018-06-14 21:00:10,2018-06-14,21,0,3870000,418,108,多开,多开,1,10,2018-06-14 21:00:10,RB1810,20
2018-06-14 21:00:10,2018-06-14,21,0,3869000,300,168,空开,空开,-1,10010,2018-06-14 21:00:10,RB1810,21
2018-06-14 21:00:11,2018-06-14,21,0,3867000,704,-86,多平,多平,-1,10011,2018-06-14 21:00:11,RB1810,22
2018-06-14 21:00:11,2018-06-14,21,0,3867000,170,64,空开,空开,-1,10011,2018-06-14 21:00:11,RB1810,23
2018-06-14 21:00:12,2018-06-14,21,0,3868000,58,26,多开,多开,1,12,2018-06-14 21:00:12,RB1810,24
2018-06-14 21:00:12,2018-06-14,21,0,3867000,136,-6,多平,多平,-1,10012,2018-06-14 21:00:12,RB1810,25
2018-06-14 21:00:13,2018-06-14,21,0,3868000,198,28,多开,多开,1,13,2018-06-14 21:00:13,RB1810,26
2018-06-14 21:00:13,2018-06-14,21,0,3867000,258,242,空开,空开,-1,10013,2018-06-14 21:00:13,RB1810,27
2018-06-14 21:00:14,2018-06-14,21,0,3868000,154,64,多开,多开,1,14,2018-06-14 21:00:14,RB1810,28
2018-06-14 21:00:18,2018-06-14,21,0,3868000,3048,304,多开,多开,1,18,2018-06-14 21:00:18,RB1810,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-20 14:59:45,2018-06-20,14,59,3817000,270,22,空开,空开,-1,10045,2018-06-20 14:59:45,RB1810,38513
2018-06-20 14:59:45,2018-06-20,14,59,3817000,410,-148,多平,多平,-1,10045,2018-06-20 14:59:45,RB1810,38514
2018-06-20 14:59:46,2018-06-20,14,59,3817000,242,-130,多平,多平,-1,10046,2018-06-20 14:59:46,RB1810,38515
2018-06-20 14:59:46,2018-06-20,14,59,3816000,152,-56,多平,多平,-1,10046,2018-06-20 14:59:46,RB1810,38516
2018-06-20 14:59:47,2018-06-20,14,59,3817000,150,22,多开,多开,1,47,2018-06-20 14:59:47,RB1810,38517
2018-06-20 14:59:47,2018-06-20,14,59,3817000,142,-70,空平,空平,1,47,2018-06-20 14:59:47,RB1810,38518
2018-06-20 14:59:48,2018-06-20,14,59,3816000,82,4,空开,空开,-1,10048,2018-06-20 14:59:48,RB1810,38519
2018-06-20 14:59:48,2018-06-20,14,59,3817000,72,-42,空平,空平,1,48,2018-06-20 14:59:48,RB1810,38520
2018-06-20 14:59:49,2018-06-20,14,59,3817000,656,-120,空平,空平,1,49,2018-06-20 14:59:49,RB1810,38521
2018-06-20 14:59:49,2018-06-20,14,59,3817000,322,-48,空平,空平,1,49,2018-06-20 14:59:49,RB1810,38522
2018-06-20 14:59:50,2018-06-20,14,59,3817000,192,-126,空平,空平,1,50,2018-06-20 14:59:50,RB1810,38523
2018-06-20 14:59:50,2018-06-20,14,59,3816000,644,160,空开,空开,-1,10050,2018-06-20 14:59:50,RB1810,38524
2018-06-20 14:59:51,2018-06-20,14,59,3817000,566,-502,空平,空平,1,51,2018-06-20 14:59:51,RB1810,38525
2018-06-20 14:59:51,2018-06-20,14,59,3817000,58,-12,空平,空平,1,51,2018-06-20 14:59:51,RB1810,38526
2018-06-20 14:59:52,2018-06-20,14,59,3817000,170,-22,空平,空平,1,52,2018-06-20 14:59:52,RB1810,38527
2018-06-20 14:59:52,2018-06-20,14,59,3817000,128,-18,空平,空平,1,52,2018-06-20 14:59:52,RB1810,38528
2018-06-20 14:59:53,2018-06-20,14,59,3817000,490,38,多开,多开,1,53,2018-06-20 14:59:53,RB1810,38529
2018-06-20 14:59:54,2018-06-20,14,59,3816000,426,-272,多平,多平,-1,10054,2018-06-20 14:59:54,RB1810,38530
2018-06-20 14:59:54,2018-06-20,14,59,3817000,150,-70,空平,空平,1,54,2018-06-20 14:59:54,RB1810,38531
2018-06-20 14:59:55,2018-06-20,14,59,3817000,294,-202,空平,空平,1,55,2018-06-20 14:59:55,RB1810,38532
2018-06-20 14:59:55,2018-06-20,14,59,3816000,454,-322,多平,多平,-1,10055,2018-06-20 14:59:55,RB1810,38533
2018-06-20 14:59:56,2018-06-20,14,59,3817000,508,-254,空平,空平,1,56,2018-06-20 14:59:56,RB1810,38534
2018-06-20 14:59:56,2018-06-20,14,59,3816000,556,-292,多平,多平,-1,10056,2018-06-20 14:59:56,RB1810,38535
2018-06-20 14:59:57,2018-06-20,14,59,3816000,556,-340,多平,多平,-1,10057,2018-06-20 14:59:57,RB1810,38536
2018-06-20 14:59:57,2018-06-20,14,59,3815000,238,-32,多平,多平,-1,10057,2018-06-20 14:59:57,RB1810,38537
2018-06-20 14:59:58,2018-06-20,14,59,3816000,328,-162,空平,空平,1,58,2018-06-20 14:59:58,RB1810,38538
2018-06-20 14:59:58,2018-06-20,14,59,3817000,186,-16,空平,空平,1,58,2018-06-20 14:59:58,RB1810,38539
2018-06-20 14:59:59,2018-06-20,14,59,3817000,354,-140,空平,空平,1,59,2018-06-20 14:59:59,RB1810,38540
2018-06-20 14:59:59,2018-06-20,14,59,3816000,208,-78,多平,多平,-1,10059,2018-06-20 14:59:59,RB1810,38541
2018-06-20 15:00:00,2018-06-20,15,0,3817000,44,2,多开,多开,1,0,2018-06-20 15:00:00,RB1810,38542

In [24]:
# 获取期货实时tick数据


QA.QA_fetch_get_future_transaction_realtime('tdx','RB1810')

,date,hour,minute,second,price,volume,zengcang,nature,nature_mark,nature_value,nature_name,direction,datetime,code,order
datetime,,,,,,,,,,,,,,,
2018-06-21 20:59:00,,20,59,0,3812000,3194,444,20000,2,0,开仓,0,2018-06-21 20:59:00,RB1810,0
2018-06-21 21:00:00,,21,0,0,3812000,2990,324,0,0,0,多开,1,2018-06-21 21:00:00,RB1810,1
2018-06-21 21:00:01,,21,0,1,3812000,4006,-36,10001,1,1,多平,-1,2018-06-21 21:00:01,RB1810,2
2018-06-21 21:00:01,,21,0,1,3812000,872,472,10001,1,1,空开,-1,2018-06-21 21:00:01,RB1810,3
2018-06-21 21:00:02,,21,0,2,3810000,1486,-134,10002,1,2,多平,-1,2018-06-21 21:00:02,RB1810,4
2018-06-21 21:00:02,,21,0,2,3812000,3388,-1764,2,0,2,空平,1,2018-06-21 21:00:02,RB1810,5
2018-06-21 21:00:03,,21,0,3,3810000,450,-128,10003,1,3,多平,-1,2018-06-21 21:00:03,RB1810,6
2018-06-21 21:00:03,,21,0,3,3810000,404,-86,10003,1,3,多平,-1,2018-06-21 21:00:03,RB1810,7
2018-06-21 21:00:04,,21,0,4,3809000,1118,-356,10004,1,4,多平,-1,2018-06-21 21:00:04,RB1810,8
2018-06-21 21:00:04,,21,0,4,3809000,556,48,4,0,4,多开,1,2018-06-21 21:00:04,RB1810,9
2018-06-21 21:00:05,,21,0,5,3810000,446,14,5,0,5,多开,1,2018-06-21 21:00:05,RB1810,10
2018-06-21 21:00:05,,21,0,5,3811000,590,246,5,0,5,多开,1,2018-06-21 21:00:05,RB1810,11
2018-06-21 21:00:06,,21,0,6,3812000,438,-26,6,0,6,空平,1,2018-06-21 21:00:06,RB1810,12
2018-06-21 21:00:06,,21,0,6,3812000,626,404,6,0,6,多开,1,2018-06-21 21:00:06,RB1810,13
2018-06-21 21:00:07,,21,0,7,3812000,224,-78,7,0,7,空平,1,2018-06-21 21:00:07,RB1810,14
2018-06-21 21:00:07,,21,0,7,3811000,284,22,10007,1,7,空开,-1,2018-06-21 21:00:07,RB1810,15
2018-06-21 21:00:08,,21,0,8,3811000,88,38,10008,1,8,空开,-1,2018-06-21 21:00:08,RB1810,16
2018-06-21 21:00:08,,21,0,8,3811000,144,66,10008,1,8,空开,-1,2018-06-21 21:00:08,RB1810,17
2018-06-21 21:00:09,,21,0,9,3811000,466,-84,10009,1,9,多平,-1,2018-06-21 21:00:09,RB1810,18
2018-06-21 21:00:09,,21,0,9,3811000,404,58,10009,1,9,空开,-1,2018-06-21 21:00:09,RB1810,19
2018-06-21 21:00:10,,21,0,10,3810000,604,368,10010,1,10,空开,-1,2018-06-21 21:00:10,RB1810,20
2018-06-21 21:00:10,,21,0,10,3812000,382,76,10,0,10,多开,1,2018-06-21 21:00:10,RB1810,21
2018-06-21 21:00:11,,21,0,11,3811000,170,40,10011,1,11,空开,-1,2018-06-21 21:00:11,RB1810,22
2018-06-21 21:00:11,,21,0,11,3812000,144,80,11,0,11,多开,1,2018-06-21 21:00:11,RB1810,23
2018-06-21 21:00:12,,21,0,12,3811000,114,-50,10012,1,12,多平,-1,2018-06-21 21:00:12,RB1810,24
2018-06-21 21:00:12,,21,0,12,3811000,440,-22,12,0,12,空平,1,2018-06-21 21:00:12,RB1810,25
2018-06-21 21:00:13,,21,0,13,3811000,218,90,10013,1,13,空开,-1,2018-06-21 21:00:13,RB1810,26
2018-06-21 21:00:13,,21,0,13,3811000,62,16,10013,1,13,空开,-1,2018-06-21 21:00:13,RB1810,27
2018-06-21 21:00:14,,21,0,14,3811000,104,38,10014,1,14,空开,-1,2018-06-21 21:00:14,RB1810,28
2018-06-21 21:00:14,,21,0,14,3811000,378,30,10014,1,14,空开,-1,2018-06-21 21:00:14,RB1810,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-21 10:59:49,,10,59,49,3824000,20,14,49,0,49,多开,1,2018-06-21 10:59:49,RB1810,25210
2018-06-21 10:59:50,,10,59,50,3824000,20,0,50,0,50,多换,1,2018-06-21 10:59:50,RB1810,25211
2018-06-21 10:59:50,,10,59,50,3823000,28,12,10050,1,50,空开,-1,2018-06-21 10:59:50,RB1810,25212
2018-06-21 10:59:51,,10,59,51,3823000,44,-42,10051,1,51,多平,-1,2018-06-21 10:59:51,RB1810,25213
2018-06-21 10:59:51,,10,59,51,3823000,16,0,10051,1,51,空换,-1,2018-06-21 10:59:51,RB1810,25214
2018-06-21 10:59:52,,10,59,52,3823000,2,0,10052,1,52,空换,-1,2018-06-21 10:59:52,RB1810,25215
2018-06-21 10:59:52,,10,59,52,3824000,32,-6,52,0,52,空平,1,2018-06-21 10:59:52,RB1810,25216
2018-06-21 10:59:53,,10,59,53,3824000,4,2,53,0,53,多开,1,2018-06-21 10:59:53,RB1810,25217
2018-06-21 10:59:53,,10,59,53,3823000,10,-10,10053,1,53,双平,-1,2018-06-21 10:59:53,RB1810,25218
2018-06-21 10:59:54,,10,59,54,3823000,12,0,10054,1,54,空换,-1,2018-06-21 10:59:54,RB1810,25219
2018-06-21 10:59:54,,10,59,54,3823000,22,10,10054,1,54,空开,-1,2018-06-21 10:59:54,RB1810,25220
2018-06-21 10:59:55,,10,59,55,3823000,36,10,10055,1,55,空开,-1,2018-06-21 10:59:55,RB1810,25221
2018-06-21 10:59:55,,10,59,55,3823000,6,0,10055,1,55,空换,-1,2018-06-21 10:59:55,RB1810,25222
2018-06-21 10:59:56,,10,59,56,3824000,2,2,56,0,56,双开,1,2018-06-21 10:59:56,RB1810,25223
2018-06-21 10:59:56,,10,59,56,3824000,18,0,56,0,56,多换,1,2018-06-21 10:59:56,RB1810,25224
2018-06-21 10:59:57,,10,59,57,3823000,6,-4,10057,1,57,多平,-1,2018-06-21 10:59:57,RB1810,25225
2018-06-21 10:59:57,,10,59,57,3824000,32,30,57,0,57,多开,1,2018-06-21 10:59:57,RB1810,25226
2018-06-21 10:59:58,,10,59,58,3824000,2,0,58,0,58,多换,1,2018-06-21 10:59:58,RB1810,25227
2018-06-21 10:59:58,,10,59,58,3823000,46,28,10058,1,58,空开,-1,2018-06-21 10:59:58,RB1810,25228
2018-06-21 10:59:59,,10,59,59,3824000,4,0,59,0,59,多换,1,2018-06-21 10:59:59,RB1810,25229
2018-06-21 10:59:59,,10,59,59,3824000,102,32,59,0,59,多开,1,2018-06-21 10:59:59,RB1810,25230
2018-06-21 11:00:00,,11,0,0,3823000,22,-22,10000,1,0,双平,-1,2018-06-21 11:00:00,RB1810,25231
2018-06-21 11:00:00,,11,0,0,3824000,40,-2,0,0,0,空平,1,2018-06-21 11:00:00,RB1810,25232
2018-06-21 11:00:01,,11,0,1,3824000,98,32,1,0,1,多开,1,2018-06-21 11:00:01,RB1810,25233
2018-06-21 11:00:01,,11,0,1,3823000,70,24,10001,1,1,空开,-1,2018-06-21 11:00:01,RB1810,25234
2018-06-21 11:00:02,,11,0,2,3823000,90,16,10002,1,2,空开,-1,2018-06-21 11:00:02,RB1810,25235
2018-06-21 11:00:02,,11,0,2,3824000,60,60,2,0,2,双开,1,2018-06-21 11:00:02,RB1810,25236
2018-06-21 11:00:03,,11,0,3,3823000,12,4,10003,1,3,空开,-1,2018-06-21 11:00:03,RB1810,25237
2018-06-21 11:00:04,,11,0,4,3823000,36,-12,10004,1,4,多平,-1,2018-06-21 11:00:04,RB1810,25238
2018-06-21 11:00:04,,11,0,4,3823000,24,-12,10004,1,4,多平,-1,2018-06-21 11:00:04,RB1810,25239

In [25]:
# 获取期货实时5档价格

QA.QA_fetch_get_future_realtime('tdx','RB1810')

,market,code,pre_close,open,high,low,price,kaicang,zongliang,xianliang,...,ask2,ask3,ask4,ask5,ask_vol1,ask_vol2,ask_vol3,ask_vol4,ask_vol5,datetime
code,,,,,,,,,,,,,,,,,,,,,
RB1810,30,RB1810,3788.0,3812.0,3843.0,3795.0,3818.0,1214641,2374158,236,...,0.0,0.0,0.0,0.0,288,0,0,0,0,2018-06-21 11:00:42.109076