In [1]:
import QUANTAXIS as QA

In [2]:
user = QA.QA_User(username='test', password= 'test')

In [3]:
port = user.new_portfolio('test')

In [4]:
acc = port.new_account(account_cookie='test_frozen', market_type=QA.MARKET_TYPE.FUTURE_CN)

QAACCOUNT: THIS ACCOUNT DOESNOT HAVE ANY TRADE
QAACCOUNT: THIS ACCOUNT DOESNOT HAVE ANY TRADE

In [5]:
acc.init_assets

{'cash': 1000000.0, 'hold': {}}

In [6]:
acc

< QA_Account test_frozen market: future_cn>

In [7]:
acc.receive_deal(code='RB1905',trade_amount=10, trade_time='2019-02-28 15:00:00',trade_price=3605,trade_towards=QA.ORDER_DIRECTION.BUY_OPEN, trade_id='t',order_id='t',realorder_id='t')

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!receive deal

In [8]:
acc.frozen

{'RB1905': {'2': {'money': 3244.5001953125, 'amount': 10, 'avg_price': 3605.0},
  '-2': {'money': 0, 'amount': 0, 'avg_price': 0}}}

In [9]:
acc.save()

In [10]:
b= user['test']['test_frozen']

In [11]:
b.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen,direction
0,2019-02-28 15:00:00,RB1905,3605.0,10,967518.9375,t,t,t,test_frozen,36.049999,0.0,None,32445.001953,2

In [12]:
b.frozen

{'RB1905': {'2': {'money': 3244.5001953125, 'amount': 10, 'avg_price': 3605.0},
  '-2': {'money': 0, 'amount': 0, 'avg_price': 0}}}

In [13]:
b.receive_deal(code='RB1905',trade_amount=10, trade_time='2019-02-28 21:00:00',trade_price=3605,trade_towards=QA.ORDER_DIRECTION.SELL_CLOSE, trade_id='t',order_id='t',realorder_id='t')

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!receive deal

In [14]:
b.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen,direction
0,2019-02-28 15:00:00,RB1905,3605.0,10,967518.9375,t,t,t,test_frozen,36.049999,0.0,None,32445.001953,2
1,2019-02-28 21:00:00,RB1905,3605.0,-10,999927.8750,t,t,t,test_frozen,36.049999,0.0,None,0.000000,-3

In [15]:
b.frozen

{'RB1905': {'2': {'money': 0, 'amount': 0, 'avg_price': 0},
  '-2': {'money': 0, 'amount': 0, 'avg_price': 0}}}

In [16]:
b.receive_deal(code='RB1905',trade_amount=10, trade_time='2019-02-28 21:00:00',trade_price=3605,trade_towards=QA.ORDER_DIRECTION.SELL_OPEN, trade_id='t',order_id='t',realorder_id='t')

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!receive deal

In [17]:
b.frozen

{'RB1905': {'2': {'money': 0, 'amount': 0, 'avg_price': 0},
  '-2': {'money': 3244.5001953125, 'amount': 10, 'avg_price': 3605.0}}}

In [18]:
b.cash

[1000000.0, 967518.9480476379, 999927.9000015259, 967446.8480491638]

In [19]:
b.receive_deal(code='RB1905',trade_amount=10, trade_time='2019-02-28 21:00:00',trade_price=3615,trade_towards=QA.ORDER_DIRECTION.BUY_CLOSETODAY, trade_id='t',order_id='t',realorder_id='t')

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!receive deal

In [21]:
b.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen,direction
0,2019-02-28 15:00:00,RB1905,3605.0,10,967518.9375,t,t,t,test_frozen,36.049999,0.0,None,32445.001953,2
1,2019-02-28 21:00:00,RB1905,3605.0,-10,999927.8750,t,t,t,test_frozen,36.049999,0.0,None,0.000000,-3
2,2019-02-28 21:00:00,RB1905,3605.0,-10,967446.8750,t,t,t,test_frozen,36.049999,0.0,None,32445.001953,-2
3,2019-02-28 21:00:00,RB1905,3615.0,10,998855.6875,t,t,t,test_frozen,36.150002,0.0,None,0.000000,4