In [1]:
import QUANTAXIS as QA

In [2]:
user= QA.QA_User(username='yutiansut',password='940809')

In [3]:
user.subscribe_strategy('s1_jm',1)
user.subscribe_strategy('s1_j',2)
user.subscribe_strategy('s1_rb',4)

(True, '6aebb77b-2482-11e9-812b-9cb6d020b9c2')

In [4]:
import pandas as pd

In [5]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,running,s1_jm,6aeb9274-2482-11e9-bf35-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6aebb77a-2482-11e9-a778-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6aebb77b-2482-11e9-812b-9cb6d020b9c2

In [6]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-30,1,6aeb9274-2482-11e9-bf35-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-30,2,6aebb77a-2482-11e9-a778-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-30,4,6aebb77b-2482-11e9-812b-9cb6d020b9c2,subscribe

In [7]:
user.coins

9970

In [8]:
user.unsubscribe_stratgy('s1_jm')

In [9]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,canceled,s1_jm,6aeb9274-2482-11e9-bf35-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6aebb77a-2482-11e9-a778-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6aebb77b-2482-11e9-812b-9cb6d020b9c2

In [10]:
user.coins_table

,cost_coins,strategy_id,start,last,strategy_uuid,event
0,10,s1_jm,2019-01-30,1,6aeb9274-2482-11e9-bf35-9cb6d020b9c2,subscribe
1,10,s1_j,2019-01-30,2,6aebb77a-2482-11e9-a778-9cb6d020b9c2,subscribe
2,10,s1_rb,2019-01-30,4,6aebb77b-2482-11e9-812b-9cb6d020b9c2,subscribe
3,0,s1_jm,2019-01-30,0,6af71038-2482-11e9-a5ce-9cb6d020b9c2,unsubscribe

In [11]:
import datetime

In [12]:
#pd.Timestamp('2018-11-05')-pd.Timestamp('2018-11-10')>datetime.timedelta(days=0)

In [13]:
user.subscribing_strategy

,end,lasttime,start,status,strategy_id,uuid,remains
1,2019-02-01,2,2019-01-30,running,s1_j,6aebb77a-2482-11e9-a778-9cb6d020b9c2,2 days
2,2019-02-12,4,2019-01-30,running,s1_rb,6aebb77b-2482-11e9-812b-9cb6d020b9c2,13 days

In [14]:
user.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,canceled,s1_jm,6aeb9274-2482-11e9-bf35-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6aebb77a-2482-11e9-a778-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6aebb77b-2482-11e9-812b-9cb6d020b9c2

In [15]:
user.save()

# 账户的同步和更新

QA_User在初始化的时候会自动同步数据库, 更新自己

In [16]:
user1= QA.QA_User(username='yutiansut',password='940809')

In [17]:
user1.sync()

< QA_USER USER_YjEUNwWt with 0 portfolio: {} >

In [18]:
user1.message

{'user_cookie': 'USER_YjEUNwWt',
 'username': 'yutiansut',
 'password': '940809',
 'wechat_id': None,
 'phone': 'defalut',
 'level': 'l1',
 'utype': 'guests',
 'coins': 9970,
 'coins_history': [[10,
   's1_jm',
   '2019-01-30',
   1,
   '6aeb9274-2482-11e9-bf35-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_j',
   '2019-01-30',
   2,
   '6aebb77a-2482-11e9-a778-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_rb',
   '2019-01-30',
   4,
   '6aebb77b-2482-11e9-812b-9cb6d020b9c2',
   'subscribe'],
  [0,
   's1_jm',
   '2019-01-30',
   0,
   '6af71038-2482-11e9-a5ce-9cb6d020b9c2',
   'unsubscribe']],
 'money': 0,
 'subuscribed_strategy': {'s1_jm': {'lasttime': 1,
   'start': '2019-01-30',
   'strategy_id': 's1_jm',
   'end': '2019-01-31',
   'status': 'canceled',
   'uuid': '6aeb9274-2482-11e9-bf35-9cb6d020b9c2'},
  's1_j': {'lasttime': 2,
   'start': '2019-01-30',
   'strategy_id': 's1_j',
   'end': '2019-02-01',
   'status': 'running',
   'uuid': '6aebb77a-2482-11e9-a778-9cb6d020b9c2'},
  's1_rb': {'lasttime': 4,
   'start': '2019-01-30',
   'strategy_id': 's1_rb',
   'end': '2019-02-12',
   'status': 'running',
   'uuid': '6aebb77b-2482-11e9-812b-9cb6d020b9c2'}},
 'subscribed_code': [],
 'portfolio_list': [],
 'lastupdatetime': '2019-01-30 19:30:17.217283'}

In [19]:
user1.money=200000

In [20]:
user1.save()

In [21]:
user1.message

{'user_cookie': 'USER_YjEUNwWt',
 'username': 'yutiansut',
 'password': '940809',
 'wechat_id': None,
 'phone': 'defalut',
 'level': 'l1',
 'utype': 'guests',
 'coins': 9970,
 'coins_history': [[10,
   's1_jm',
   '2019-01-30',
   1,
   '6aeb9274-2482-11e9-bf35-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_j',
   '2019-01-30',
   2,
   '6aebb77a-2482-11e9-a778-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_rb',
   '2019-01-30',
   4,
   '6aebb77b-2482-11e9-812b-9cb6d020b9c2',
   'subscribe'],
  [0,
   's1_jm',
   '2019-01-30',
   0,
   '6af71038-2482-11e9-a5ce-9cb6d020b9c2',
   'unsubscribe']],
 'money': 200000,
 'subuscribed_strategy': {'s1_jm': {'lasttime': 1,
   'start': '2019-01-30',
   'strategy_id': 's1_jm',
   'end': '2019-01-31',
   'status': 'canceled',
   'uuid': '6aeb9274-2482-11e9-bf35-9cb6d020b9c2'},
  's1_j': {'lasttime': 2,
   'start': '2019-01-30',
   'strategy_id': 's1_j',
   'end': '2019-02-01',
   'status': 'running',
   'uuid': '6aebb77a-2482-11e9-a778-9cb6d020b9c2'},
  's1_rb': {'lasttime': 4,
   'start': '2019-01-30',
   'strategy_id': 's1_rb',
   'end': '2019-02-12',
   'status': 'running',
   'uuid': '6aebb77b-2482-11e9-812b-9cb6d020b9c2'}},
 'subscribed_code': [],
 'portfolio_list': [],
 'lastupdatetime': '2019-01-30 19:30:17.255296'}

In [22]:
QA.QA_User(username='yutiansut',password='940809').message

{'user_cookie': 'USER_YjEUNwWt',
 'username': 'yutiansut',
 'password': '940809',
 'wechat_id': None,
 'phone': 'defalut',
 'level': 'l1',
 'utype': 'guests',
 'coins': 9970,
 'coins_history': [[10,
   's1_jm',
   '2019-01-30',
   1,
   '6aeb9274-2482-11e9-bf35-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_j',
   '2019-01-30',
   2,
   '6aebb77a-2482-11e9-a778-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_rb',
   '2019-01-30',
   4,
   '6aebb77b-2482-11e9-812b-9cb6d020b9c2',
   'subscribe'],
  [0,
   's1_jm',
   '2019-01-30',
   0,
   '6af71038-2482-11e9-a5ce-9cb6d020b9c2',
   'unsubscribe']],
 'money': 200000,
 'subuscribed_strategy': {'s1_jm': {'lasttime': 1,
   'start': '2019-01-30',
   'strategy_id': 's1_jm',
   'end': '2019-01-31',
   'status': 'canceled',
   'uuid': '6aeb9274-2482-11e9-bf35-9cb6d020b9c2'},
  's1_j': {'lasttime': 2,
   'start': '2019-01-30',
   'strategy_id': 's1_j',
   'end': '2019-02-01',
   'status': 'running',
   'uuid': '6aebb77a-2482-11e9-a778-9cb6d020b9c2'},
  's1_rb': {'lasttime': 4,
   'start': '2019-01-30',
   'strategy_id': 's1_rb',
   'end': '2019-02-12',
   'status': 'running',
   'uuid': '6aebb77b-2482-11e9-812b-9cb6d020b9c2'}},
 'subscribed_code': [],
 'portfolio_list': [],
 'lastupdatetime': '2019-01-30 19:30:17.278445'}

# 讨论下 QAUSER的下挂Portfolio/Account

In [23]:
admin=QA.QA_User(username='yutiansut',password='940809')

In [24]:
admin.portfolio_list

{}

In [25]:
admin.new_portfolio('RB_PORTFOLIO')

< QA_Portfolio RB_PORTFOLIO with 0 Accounts >

In [26]:
RB_Portfolio=admin.get_portfolio('RB_PORTFOLIO')

In [27]:
RB_Portfolio.new_account(account_cookie='test1',init_cash=200000)

< QA_Account test1 market: stock_cn>

In [28]:
admin.portfolio_list

{'RB_PORTFOLIO': < QA_Portfolio RB_PORTFOLIO with 1 Accounts >}

In [29]:
RB_Portfolio.accounts

{'test1': < QA_Account test1 market: stock_cn>}

In [30]:
RB_Portfolio.user_cookie

'USER_YjEUNwWt'

In [31]:
RB_Portfolio

< QA_Portfolio RB_PORTFOLIO with 1 Accounts >

In [32]:
acc1=RB_Portfolio['test1']

In [33]:
acc1

< QA_Account test1 market: stock_cn>

In [34]:
admin

< QA_USER USER_YjEUNwWt with 1 portfolio: {'RB_PORTFOLIO': < QA_Portfolio RB_PORTFOLIO with 1 Accounts >} >

In [35]:
# 让account发生一些行为: 交易等

In [36]:
acc1.receive_simpledeal('000001',20, 2000,QA.ORDER_DIRECTION.BUY, '2019-01-25')

In [37]:
# 回来查看 QAUSER/ QAPORTFOLIO

In [38]:


"""
当组合产生一个子账户的时候, 会统一扣减一个值

至于子账户的内部行为, 在PORTFOLIO.cash的部分不加以体现

"""
RB_Portfolio.cash # 组合和子账户之间的交互

[100000000, 99800000]

In [39]:
RB_Portfolio.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen
0,2019-01-25,000001,20,2000,159990.0,None,None,None,test1,10.0,0,None,0

In [40]:
acc2= RB_Portfolio.new_account(account_cookie='test2',init_cash=500000)

In [41]:
acc2.receive_simpledeal('000002',20, 2000,QA.ORDER_DIRECTION.BUY, '2019-01-25')

In [42]:
RB_Portfolio.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen
0,2019-01-25,000001,20,2000,159990.0,None,None,None,test1,10.0,0,None,0
0,2019-01-25,000002,20,2000,459990.0,None,None,None,test2,10.0,0,None,0

In [43]:
acc3= RB_Portfolio.new_account(account_cookie='test3_future',init_cash=500000, market_type=QA.MARKET_TYPE.FUTURE_CN)

In [44]:
acc3.market_type

'future_cn'

In [45]:
acc3

< QA_Account test3_future market: future_cn>

In [46]:
acc3.receive_simpledeal('RB1905',3509, 2,QA.ORDER_DIRECTION.BUY_OPEN, '2019-01-25')

In [47]:
acc3.receive_simpledeal('J1905',1800, 2,QA.ORDER_DIRECTION.BUY_OPEN, '2019-01-25')

In [48]:
"""

history_table 展示了当前的所有子账户的交易

"""


RB_Portfolio.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen
0,2019-01-25,000001,20,2000,159990.0000,None,None,None,test1,10.0000,0,None,0
0,2019-01-25,000002,20,2000,459990.0000,None,None,None,test2,10.0000,0,None,0
0,2019-01-25,RB1905,3509,2,492981.2982,None,None,None,test3_future,0.7018,0,None,7018
1,2019-01-25,J1905,1800,2,489381.0822,None,None,None,test3_future,0.2160,0,None,3600

In [49]:
RB_Portfolio.send_order('test1','000001',100,'2019-01-28',QA.ORDER_DIRECTION.SELL,price=22, order_model=QA.ORDER_MODEL.LIMIT,amount_model=QA.AMOUNT_MODEL.BY_AMOUNT)

ERROR : CODE 000001 TIME 2019-01-28 09:31:00  AMOUNT 100 TOWARDS -1
卖出仓位不足

False

In [50]:
RB_Portfolio.history[0][2]

[['2019-01-25',
  'RB1905',
  3509,
  2,
  492981.2982,
  None,
  None,
  None,
  'test3_future',
  0.7018,
  0,
  None,
  7018],
 ['2019-01-25',
  'J1905',
  1800,
  2,
  489381.0822,
  None,
  None,
  None,
  'test3_future',
  0.216,
  0,
  None,
  3600]]

In [51]:
admin['RB_PORTFOLIO']

< QA_Portfolio RB_PORTFOLIO with 3 Accounts >

#   开放成HTTP 端口, 被WEBSERVER实现

In [52]:
admin.message

{'user_cookie': 'USER_YjEUNwWt',
 'username': 'yutiansut',
 'password': '940809',
 'wechat_id': None,
 'phone': 'defalut',
 'level': 'l1',
 'utype': 'guests',
 'coins': 9970,
 'coins_history': [[10,
   's1_jm',
   '2019-01-30',
   1,
   '6aeb9274-2482-11e9-bf35-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_j',
   '2019-01-30',
   2,
   '6aebb77a-2482-11e9-a778-9cb6d020b9c2',
   'subscribe'],
  [10,
   's1_rb',
   '2019-01-30',
   4,
   '6aebb77b-2482-11e9-812b-9cb6d020b9c2',
   'subscribe'],
  [0,
   's1_jm',
   '2019-01-30',
   0,
   '6af71038-2482-11e9-a5ce-9cb6d020b9c2',
   'unsubscribe']],
 'money': 200000,
 'subuscribed_strategy': {'s1_jm': {'lasttime': 1,
   'start': '2019-01-30',
   'strategy_id': 's1_jm',
   'end': '2019-01-31',
   'status': 'canceled',
   'uuid': '6aeb9274-2482-11e9-bf35-9cb6d020b9c2'},
  's1_j': {'lasttime': 2,
   'start': '2019-01-30',
   'strategy_id': 's1_j',
   'end': '2019-02-01',
   'status': 'running',
   'uuid': '6aebb77a-2482-11e9-a778-9cb6d020b9c2'},
  's1_rb': {'lasttime': 4,
   'start': '2019-01-30',
   'strategy_id': 's1_rb',
   'end': '2019-02-12',
   'status': 'running',
   'uuid': '6aebb77b-2482-11e9-812b-9cb6d020b9c2'}},
 'subscribed_code': [],
 'portfolio_list': ['RB_PORTFOLIO'],
 'lastupdatetime': '2019-01-30 19:30:17.751706'}

In [53]:
RB_Portfolio.cash

[100000000, 99800000, 99300000, 98800000]

In [54]:
acc1.history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen
0,2019-01-25,000001,20,2000,159990.0,None,None,None,test1,10.0,0,None,0

In [55]:
admin.subscribed_strategy

,end,lasttime,start,status,strategy_id,uuid
0,2019-01-31,1,2019-01-30,canceled,s1_jm,6aeb9274-2482-11e9-bf35-9cb6d020b9c2
1,2019-02-01,2,2019-01-30,running,s1_j,6aebb77a-2482-11e9-a778-9cb6d020b9c2
2,2019-02-12,4,2019-01-30,running,s1_rb,6aebb77b-2482-11e9-812b-9cb6d020b9c2

In [56]:
admin.save()

account test1 save
account test2 save
account test3_future save

In [57]:
admin.portfolio_list

{'RB_PORTFOLIO': < QA_Portfolio RB_PORTFOLIO with 3 Accounts >}

In [58]:
#admin.message

In [59]:
admin['RB_PORTFOLIO']['test1'].history_table

,datetime,code,price,amount,cash,order_id,realorder_id,trade_id,account_cookie,commission,tax,message,frozen
0,2019-01-25,000001,20,2000,159990.0,None,None,None,test1,10.0,0,None,0

In [60]:
# ## 考虑一个问题:

# for p in admin.portfolio_list.values():
#     print(p)
#     for a in p.accounts.values():
#         print(a)
#         a.save()